<include file="Public:header" />
<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner2.jpg" alt="" />
			<div class="font font2">
				<div class="f1"><img src="__PUBLIC__/index/img/b-font2.png" alt="" /></div>
				<div class="f3">Atten tively,make quality ascension endless!</div>
			</div>
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>走进瑞德</span>
	</div>
	<div class="innerNav">
		<a href="{:U('About/index')}">公司简介</a>
		<a href="{:U('About/culture')}">企业文化</a>
		<a href="{:U('About/organization')}">组织机构</a>
		<a href="{:U('About/certifications')}">资质证书</a>
		<a href="{:U('News/index')}" class="on">媒体中心</a>
		<a href="{:U('About/speech')}">总经理致辞</a>
	</div>
	<div class="aboutBig">
		<div class="newsBox">
			<foreach name="arr" item="val">
				<div class="newsList">
					<a href="{:U('News/show',array('id'=>$val['id']))}">
						<div class="left">
							<span>{$val.time|date='d',###}</span>
							<p>{$val.time|date='Y-m',###}</p>
						</div>
						<div class="right">
							<div class="title">{$val.title}</div>
							<p>{$val.description}</p>
						</div>
					</a>
				</div>
			</foreach>
		</div>
		<div class="pages">
			{$page}
		</div>
	</div>
</div>

<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		autoplay: false,
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
</script>
<include file="Public:footer" />