<include file="Public:header" />
<include file="Public:header_next" />
	<div class="newsWapper">
		<div class="catpos">
			<a href="{:U('/')}" class="home">{$lang->index('20')}</a><em>></em>
			<a href="">{$title}</a>
		</div>
		<div class="newsBox">
			<foreach name="arr" item="val">
				<div class="newsList">
					<a href="{:U('News/show',array('id'=>$val['id']))}">
						<div class="left">
							<span>{$val.time|date='d',###}</span>
							<p>{$val.time|date='Y-m',###}</p>
						</div>
						<div class="right">
							<div class="title">{$val.title}</div>
							<p>{$val.description}</p>
						</div>
					</a>
				</div>
			</foreach>
		</div>
		<div class="pages">
			{$page}
		</div>
	</div>

<script>
	$('.nav').find('li').eq(4).attr('class','on');
</script>
<include file="Public:footer" />