<include file="Public:header" />
<include file="Public:header_next" />
	<div class="newsWapper">
		<div class="catpos">
			<a href="{:U('/')}" class="home">{$lang->index('20')}</a><em>></em>
			<a href="{:U('News/index')}">{$title}</a>
		</div>
		<div class="newsMain">
			<div class="left">
				<div class="title">
					{$arr.title}
				</div>
				<div class="desc">
					<span>{$lang->index('30')}：{$arr.time|date='Y-m-d',###}</span>
					<span>{$lang->index('31')}：{$arr[num]+1}</span>         
				</div>
				<div class="main">
					{$arr.text}
				</div>
				<div class="relative">
					<div class="t">{$lang->index('33')}</div>
					<ul>
						<foreach name="arr2" item="val">
							<li><a href="{:U('News/show',array('id'=>$val['id']))}">{$val.title}</a></li>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="title">{$lang->index('32')}</div>
				<ul>
					<foreach name="arr2" item="val">
						<li><a href="{:U('News/show',array('id'=>$val['id']))}">{$val.title}</a></li>
					</foreach>
				</ul>
			</div>
		</div>

	</div>
<script>
	$('.nav').find('li').eq(4).attr('class','on');
</script>
<include file="Public:footer" />