<include file="Public:header" />
<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/about-banner.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>走进瑞德</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<a href="{:U('About/index')}">公司简介</a>
			<a href="{:U('About/culture')}">企业文化</a>
			<a href="{:U('About/organization')}">组织机构</a>
			<a href="{:U('About/certifications')}">资质证书</a>
			<a href="{:U('News/index')}" class="on">媒体中心</a>
			<a href="{:U('About/speech')}">总经理致辞</a>
		</div>

		<div class="aboutmain">
			<div class="title">{$arr.title}</div>
			<p>{$arr.text}</p>
		</div>
		<div class="aboutaddress"></div>
	</div>

</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<include file="Public:footer" />