<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="newsWapper">
	<ul>
		<foreach name="arr" item="val">
			<li>
				<a href="{:U('News/show',array('id'=>$val['id']))}">
					<p class="title">{$val.title}</p>
					<span>{$val.time|date='Y-m-d',###}</span>
				</a>
			</li>
		</foreach>
	</ul>
	<div class="pages">
		{$page}
	</div>
</div>
<script>
	if($('.current').text()==1){
		$('.pages .next').css({'width':'100%'})	
	}
	if($(".pages").children().children().hasClass("next") == false){
		$('.pages .prev').css({'width':'100%'})	
	}
</script>
<include file="Public:wap_footer" />