<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="newsWapperMain">
	<div class="mainTitle">
		{$arr.title}
	</div>
	<div class="desc">
		<span>发布日期：{$arr.time|date='Y-m-d',###}</span><span>浏览次数：{$arr[num]+1}</span>
	</div>
	<div class="main">
		{$arr.text}
	</div>
	<div class="relative">
		<div class="t">{$lang->index('33')}</div>
		<ul>
			<foreach name="arr2" item="val">
				<li><a href="{:U('News/show',array('id'=>$val['id']))}">{$val.title}</a></li>
			</foreach>
		</ul>
	</div>
</div>
<include file="Public:wap_footer" />