<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/about4.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>售后服务</span>
	</div>
	<div class="aboutCenter">
		<div class="shMain">
			<div class="title">公司售后服务机构图</div>
			<img src="__PUBLIC__/index/img/sh1.jpg" alt="" />
			<div class="line"></div>
			<p>1、公司建立了总经理领导下的售后服务体系，授权质量负责人全面开展工作，质量负责人对售后服务质量负全责，具体领导售后服务工作和质量管理工作。市场部负责组织和协调售后服务人员，认真履售后服务质量职责。我公司售后服务人员12人，均为我公司经验丰富、技术过硬的人员，技术熟练，熟知产品的性能、结构和特点，解决问题能力强。</p>
			<p>2、市场部在每批产品售后，电话回访客户询问产品质量状况，及时获得产品质量信息。对于客户对我公司产品提出质量异议，公司在接到异议后24小时内，作出处理意见。对用户反馈的产品质量问题及处理结果，我公司将予以存档。</p>
			<p>3、总经理组织质量部、市场部等相关人员不定期到客户处进行回访，虚心听取客户对我公司产品意见、建议。市场部年底发出客户满意调查表收集客户对公司质量、交期等方面的评价、建议。市场部对客户回访及调查情况进行汇总、分析，质量负责人组织原因分析，持续改进，增强顾客满意。</p>
			<p>4、我公司以“质量为先，顾客满意”的原则，严格内部管理，从原材料进厂到产品出厂，严格按质量体系文件规定的程序要求执行，并设立专职检验员严把产品质量关。</p>
			<div class="line"></div>
			<div class="title">售后服务流程图</div>
			<img src="__PUBLIC__/index/img/sh2.jpg" alt="" />
		</div>
		<div class="aboutaddress"></div>
	</div>
</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>

<include file="Public:footer" />