<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="aboutWapper1">
	<img src="__PUBLIC__/wap/img/about2.jpg" alt="" />
	<div class="main">
		<p>{$About.left}</p>
		<p>{$About.right}</p>
	</div>
</div>

<div class="indexWapper3 about3">
	<div class="title">{$lang->index('21')}</div>
	<div class="swiper-container Team">
	  	<div class="swiper-wrapper">
	  		<?php $img1=explode(',',$About['img1']); ?>
	   		<foreach name="img1" item="val">
				<div class="swiper-slide">
		    		<img src="{$val}" alt="" />
		   		</div>
	   		</foreach>
	  	</div>
	  	<!-- Add Pagination -->
	  	<div class="swiper-pagination"></div>
	</div>
</div>
<div class="indexWapper3 about3">
	<div class="title">厂区厂貌</div>
	<div class="swiper-container environment">
	  	<div class="swiper-wrapper">
	  		<?php $img2=explode(',',$About['img2']); ?>
	   		<foreach name="img2" item="val">
				<div class="swiper-slide">
		    		<img src="{$val}" alt="" />
		   		</div>
	   		</foreach>
	  	</div>
	  	<!-- Add Pagination -->
	  	<div class="swiper-pagination"></div>
	</div>
</div>
<include file="Public:wap_footer" />
<script>
	new Swiper('.Team', {
	 	pagination: {
	    	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
	new Swiper('.environment', {
	  	pagination: {
	   	 	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
</script>