<include file="Public:header" />
<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner1.jpg" alt="" />
			<div class="font font1" >
				<div class="f1"><img src="__PUBLIC__/index/img/b-font1.png" alt="" /></div>
				<div class="f2">专注法兰锻件制造</div>
				<div class="f3">20 years dedicated to the manufacture of flange forgings</div>
			</div>
		</div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>设备展示</span>
	</div>
	<div class="sbCenter">
		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb1.jpg" alt="" /></div>
			<div class="font">
				<div class="t">锻造锤</div>
				<p>
					最大重量: 25 Tons<br>
					最大行程: 6000 mm<br>
					台面尺寸 : 4000 mm x 1500 mm<br>
					锻造次数 : 30 / min
				</p>
			</div>
		</div>
		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb2.jpg" alt="" /></div>
			<div class="font">
				<div class="t">碾环机</div>
				<p>
					最大直径: 5000mm<br>
					最大高度: 1000 mm<br>
					锥辊 : 1170mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb3.jpg" alt="" /></div>
			<div class="font">
				<div class="t">热处理</div>
				<p>
					3000mm*6000mm 台式电阻炉
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb4.jpg" alt="" /></div>
			<div class="font">
				<div class="t">热处理</div>
				<p>
					RJ2 x 3000、RJ2 x 5000、全纤维井式电炉采用PIMS制,控温精度高,炉温均匀性好。
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb5.jpg" alt="" /></div>
			<div class="font">
				<div class="t">数控车床</div>
				<p>
					粗糙度:1.6<br>
					精确度: 0.03mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb6.jpg" alt="" /></div>
			<div class="font">
				<div class="t">数控车床</div>
				<p>
					最大直径: 5000 mm<br>
					最大高度: 1200 mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb7.jpg" alt="" /></div>
			<div class="font">
				<div class="t">数控高速钻床</div>
				<p>
					最大直径: 3200 mm<br>
					最大厚度: 500mm<br>
					最大钻孔直径 : 105 mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb8.jpg" alt="" /></div>
			<div class="font">
				<div class="t">数控高速钻床</div>
				<p>
					最大直径: 5000 mm<br>
					最大厚度: 500mm<br>
					最大钻孔直径 : 105 mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb9.jpg" alt="" /></div>
			<div class="font">
				<div class="t">龙门加工中心</div>
				<p>
					最大直径: 3000 mm<br>
					最大厚度: 800mm<br>
					最大重量：15T
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb10.jpg" alt="" /></div>
			<div class="font">
				<div class="t">CNC加工中心</div>
				<p>
					加工精度：0.01<br>
					粗糙度：1.6<br>
					配套：第四轴
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb11.jpg" alt="" /></div>
			<div class="font">
				<div class="t">线切割</div>
				<p>
					最大直径: 1400 mm<br>
					最大厚度: 800mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb12.jpg" alt="" /></div>
			<div class="font">
				<div class="t">线切割</div>
				<p>
					最大直径: 1400 mm<br>
					最大厚度: 800mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb13.jpg" alt="" /></div>
			<div class="font">
				<div class="t">数控等离子切割</div>
				<p>
					规格：7500mm*18000mm<br>
					切割厚度：6mm-300mm
				</p>
			</div>
		</div>

		<div class="item">
			<div class="img"><img src="__PUBLIC__/index/img/sb14.jpg" alt="" /></div>
			<div class="font">
				<div class="t">深孔镗床</div>
				<p>
					最大长度：2000mm<br>
					最大孔直径：200mm
				</p>
			</div>
		</div>

	</div>

</div>

<include file="Public:footer" />
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
</script>