<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="indexWapper3 about3">
	<div class="title">{$lang->index('26')}</div>
	<div class="swiper-container Jshu">
    	<div class="swiper-wrapper">
	    	<foreach name="Tech" item="val">
	    		<if condition="$val[type] eq 1">
			    	<div class="swiper-slide">
		      			<img src="__UPLOADS__/img{$val.img}" alt="" />
		      			<div class="title">{$val.title}</div>
		      		</div>
				</if>
			</foreach>
	  	</div>
	  	<!-- Add Pagination -->
	  	<div class="swiper-pagination"></div>
	</div>
</div>
<div class="indexWapper3 about3">
	<div class="title">{$lang->index('27')}</div>
	<div class="swiper-container Jshu">
	  	<div class="swiper-wrapper">
	    	<foreach name="Tech" item="val">
	    		<if condition="$val[type] eq 2">
			    	<div class="swiper-slide">
		      			<img src="__UPLOADS__/img{$val.img}" alt="" />
		      			<div class="title">{$val.title}</div>
		      		</div>
				</if>
			</foreach>
	  	</div>
	  <!-- Add Pagination -->
	  <div class="swiper-pagination"></div>
	</div>
</div>
<div class="indexWapper3 about3 last">
	<div class="title">{$lang->index('28')}</div>
	<div class="swiper-container Jshu">
	  	<div class="swiper-wrapper">
	    	<foreach name="Tech" item="val">
	    		<if condition="$val[type] eq 3">
			    	<div class="swiper-slide">
		      			<img src="__UPLOADS__/img{$val.img}" alt="" />
		      			<div class="title">{$val.title}</div>
		      		</div>
				</if>
			</foreach>
	  	</div>
	  	<!-- Add Pagination -->
	  	<div class="swiper-pagination"></div>
	</div>
</div>
<include file="Public:wap_footer" />
<script>
	new Swiper('.Jshu', {
	  	pagination: {
	    	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
</script>