<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 导航设置 <span class="c-gray en">&gt;</span> 导航设置 <span class="c-gray en">&gt;</span> 添加三级导航
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:;history.go(-1)" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">上级栏目</th>
            <td>{$arr.title}</td>
        </tr>
        <tr>
            <th class="text-r" width="100">标题</th>
            <td><input type="text" id="title" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">是否显示</th>
            <td>
                <select id="display" class="select">
                    <option value="1">显示</option>
                    <option value="0">不显示</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">PC链接</th>
            <td><input type="text" id="pcurl" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">Mobile链接</th>
            <td><input type="text" id="wap_url" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">网页标题</th>
            <td><input type="text" id="web_title" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">网页关键字</th>
            <td><input type="text" id="web_description" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">网页描述</th>
            <td><input type="text" id="web_text" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<input type="hidden" value="<?php echo I('get.id') ?>" class="parent">
<js href='__PUBLIC__/admin/js/category_addchild.js' />
<script>
    $('#menu-list').attr('class','selected');
    $('#menu-list li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />