<include file="Public:header" />
<style>
    .mt-20{margin-top:0}
    .f-14 a{float:left}
</style>
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 导航设置 <span class="c-gray en">&gt;</span> 导航设置
</nav>
<div class="pd-20 text-c">
    <div class="article-class-list cl mt-20">
        <span class="l"><a href="{:U('Admin/Category/add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加导航</a></span>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th width="25">排序</th>
                    <th width="80">ID</th>
                    <th>分类名称</th>
                    <th width="50">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="Category" item="val">
                    <if condition="$val['parent'] eq 0">
                        <tr class="text-c">
                            <td>
                                <input type="text" value="{$val['listorder']}" class="input-text" style="width:50px;text-align:center" name="input" index="{$val['id']}">
                            </td>
                            <td>{$val['id']}</td>
                            <td class="text-l">
                                <span style="float:left">{$val['title']}</span>
                                <if condition="$val[display] eq 0">
                                    <img src="__PUBLIC__/admin/img/gear_disable.png" style="float:left;margin:2px 0 0 2px" title="不显示">
                                </if>
                            </td>
                            <td class="f-14">
                                <!-- <a title="添加下级栏目" href="{:U('Admin/Category/addchild/',array('id'=>$val['id']))}" style="margin:0 6px 0 12px"><i class="icon-plus"></i></a> -->
                                <a title="编辑" href="{:U('Admin/Category/edit',array('id'=>$val['id']))}" style="margin:0 5px 0 7px"><i class="icon-edit"></i></a>
                                <a title="删除" href="javascript:;" class="ml-5 del" index="{$val['id']}"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
<!--                         <if condition="$val['children'] neq ''">
                            <?php $child=explode(',',$val['children']); ?>
                            <foreach name="child" item="value" key="k">
                                <foreach name="Category" item="val">
                                    <if condition="$val['id'] eq $value">
                                        <tr class="text-c tr{$val['parent']}">
                                            <td>
                                                <input type="text" value="{$val['listorder']}" class="input-text" style="width:50px;text-align:center" name="input" index="{$val['id']}">
                                            </td>
                                            <td>{$val['id']}</td>
                                            <td class="text-l">
                                                <if condition="count($child) eq $k+1">
                                                    <span class='menu-zizi'></span>
                                                <else />
                                                    <span class='menu-zi'></span>
                                                </if>
                                                <span style="float:left;">{$val['title']}</span>
                                                <if condition="$val[display] eq 0">
                                                    <img src="__PUBLIC__/admin/img/gear_disable.png" style="float:left;margin:2px 0 0 2px" title="不显示">
                                                </if>
                                            </td>
                                            <td class="f-14">
                                                <a title="添加下级栏目" href="{:U('Admin/Category/addsan/',array('id'=>$val['id']))}" style="margin:0 6px 0 12px"><i class="icon-plus"></i></a>
                                                <a title="编辑" href="{:U('Admin/Category/edit/'.$val['id'])}"><i class="icon-edit"></i></a>
                                                <a title="删除" href="javascript:;" class="ml-5 del2" index="{$val['id']}"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>

                                        <if condition="$val['children'] neq ''">
                                            <?php $child2=explode(',',$val['children']); ?>
                                            <?php foreach($child2 as $k=>$val2){ ?>
                                                <?php foreach($Category as $vals){ ?>
                                                    <if condition="$vals['id'] eq $val2">
                                                        <tr class="text-c tr{$val['parent']}">
                                                            <td>
                                                                <input type="text" value="{$vals['listorder']}" class="input-text" style="width:50px;text-align:center" name="input" index="{$vals['id']}">
                                                            </td>
                                                            <td>{$vals['id']}</td>
                                                            <td class="text-l" style="padding-left:65px">
                                                                <if condition="count($child2) eq $k+1">
                                                                    <span class='menu-zizi'></span>
                                                                <else />
                                                                    <span class='menu-zi'></span>
                                                                </if>
                                                                <span style="float:left;">{$vals['title']}</span>
                                                                <if condition="$vals[display] eq 0">
                                                                    <img src="__PUBLIC__/admin/img/gear_disable.png" style="float:left;margin:2px 0 0 2px" title="不显示">
                                                                </if>
                                                            </td>
                                                            <td class="f-14">
                                                                <a title="编辑" href="{:U('Admin/Category/edit/'.$vals['id'])}" style="margin-left:29px"><i class="icon-edit"></i></a>
                                                                <a title="删除" href="javascript:;" class="ml-5 del3" index="{$vals['id']}"><i class="icon-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    </if>
                                            <?php }} ?>
                                        </if>

                                    </if>
                                </foreach>
                            </foreach>
                        </if> -->
                    </if>
                </foreach>
                <if condition="!empty($Category)">
                    <tr>
                        <th class="text-r" style="border:none">
                            <button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button>
                        </th>
                    </tr>
                </if>
            </tbody>
        </table>
    </div>
</div>
<js href='__PUBLIC__/admin/js/category_index.js' />
<script>
    $('#menu-list').attr('class','selected');
    $('#menu-list li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />