<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/pj-banner.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>品质管理</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<a href="{:U('Quality/index')}" class="on">品质管理与控制</a>
			<a href="{:U('Quality/process')}">质量控制流程图</a>
			<a href="{:U('Quality/itroduction')}">生产工序简介</a>
		</div>

		<div class="pjMain">
			<h6>品质管理与控制</h6>
			<p>在原材料、制造环节、检验检测、发货过程中，都严守规范，做好过程控制并及时出具各种报告，分析其根源，以便保持持续改善，毫不妥协的执行追溯性与一致性品质的管理规范。</p>
			<div class="line"></div>
			<p>我们在过程控制中倾注了大量心血，持续并毫不妥协的执行追溯性与一致性品质的管理规范.</p>
			<div class="line"></div>
			<h6>内控品质检测：</h6>
			<p> · 光谱仪检测分析化学元素<br>
				· 金相分析 ·机械性能检测（硬度、拉力、屈服度、延展率、缩减率、冲击等）<br>
				· 超声波<br>
				· 便携式直读光普仪<br>
				· 宏观侵蚀测试<br>
				· 晶间腐蚀测试 <br>
				· 渗透测试<br>
				· 磁粉探伤<br>
				· 尺寸检验<br>
				· 外观检验<br>
				* 其它由客户规定的特殊测试，我们将按照客户的要求执行，并积极配合 第三方检诱工做。
			</p>
		</div>
	</div>

</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>

<include file="Public:footer" />