<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner3.jpg" alt="" />
			<div class="font font3">
				<div class="f1"><img src="__PUBLIC__/index/img/b-font3.png" alt="" /></div>
				<div class="f4">换热器管板 法兰 锻件 专业制造厂家</div>
				<ul>
					<li><img src="__PUBLIC__/index/img/b-icon1.png" alt="" /><p>品质保证</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon2.png" alt="" /><p>优质材料</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon3.png" alt="" /><p>专业制造</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon4.png" alt="" /><p>规格多样</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon5.png" alt="" /><p>库存充足</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>品质管理</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<div class="innerNav">
				<a href="{:U('Quality/index')}">品质管理与控制</a>
				<a href="{:U('Quality/process')}">质量控制流程图</a>
				<a href="{:U('Quality/itroduction')}"  class="on">生产工序简介</a>
			</div>
		</div>

		<div class="pjMain">
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj1.jpg" alt="" /></td>
						<td class="td1">
							<b>热加工</b>
							<p>加热炉持续工作的天然气加热炉，精准高效，使料块升温至适宜锻打温度</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj2.jpg" alt="" /></td>
						<td class="td1">
							<b>锻造锤打</b>
							<p>由空气锤，辗环机，压力机组合成的锻 造生产线，适合法兰行业的多规格，少数量的制造。柔性化生产，可以轻而易举完成客户订单，缩短交期。</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj3.jpg" alt="" /></td>
						<td class="td1">
							<b>碾环 </b>
							<p>碾压各类无缝环形锻件，使粗毛坯成形，既保证了产品的精度，又节约了成本，使产品更具性价比</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj4.jpg" alt="" /></td>
						<td class="td1">
							<b>机加工</b>
							<p>全数控机加工的搞高效生产，即保证了表面光洁度，也使产品尺寸更精确，保证一致性。<br>
								台湾引进的高速数控钻使螺栓孔壁光滑无比，令人爱不释手。</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj5.jpg" alt="" /></td>
						<td class="td1">
							<b>防锈</b>
							<p>对已机加工完成的法兰表面，实施防锈处理，常用方式为涂油，涂漆，镀锌和涂亚 硝酸等。<br>
								涂油  最为通行通用的防锈处理，便捷实用。<br>
								涂漆  黑漆，黄漆，蓝漆以及其它。其中黑漆与黄漆为通行通用的方式，蓝漆以及其它，按照客户特殊要求商定执行。<br>
								镀锌  一般采用热镀锌，使产品更防腐防锈，按照客户特殊要求执行。<br>
								涂亚硝酸  使用比较少，防锈周期比较短，一般约为1-2个星期，因此更多应用在生产周转中，而非发货产品。除非客户有此要求，经双方商定后可实施。</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<table>
					<tr>
						<td><img src="__PUBLIC__/index/img/pj6.jpg" alt="" /></td>
						<td class="td1">
							<b>包装</b>
							<p>足够厚的板材保证了木箱的结实程度，每一层法兰都使用隔板防止碰撞，缝隙处使用挤塑板填充，<br>
								使整个包装浑然一体，结实坚固，保证产品从出厂到客户手中，保持始终如一的高品质。
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		autoplay: false,
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
</script>

<include file="Public:footer" />