<include file="Public:header" />
	<div class="pd-20" style="padding-top:20px;">
		<p class="f-20 text-success">欢迎登录{$Web['title']}后台管理中心</p>
		<p>登录次数：{$arr['log_num']}</p>
		<p>本次登录IP：{$arr['log_ip']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次登录时间：<?php echo date('Y-m-d H:i',$arr['log_time']) ?></p>

		<table class="table table-border table-bordered table-bg mt-20">
	  		<thead>
    			<tr>
	      			<th colspan="2" scope="col">服务器信息</th>
	    		</tr>
	  		</thead>
	  		<tbody>
	    		<tr>
	      			<th width="200">PHP 版本</th>
	      			<td><?php echo PHP_VERSION; ?></td>
	    		</tr>
	    		<tr>
	      			<td>MySQL 版本</td>
	      			<td><?php echo mysql_get_server_info();  ?></td>
	    		</tr>
	    		<tr>
	      			<td>服务器操作系统</td>
	      			<td><?PHP echo php_uname(); ?></td>
	    		</tr>
	    		<tr>
	      			<td>文件上传限制</td>
	      			<td><?PHP echo get_cfg_var ("upload_max_filesize")? get_cfg_var ("upload_max_filesize"):"不允许上传附件"; ?></td>
    			</tr>
	    		<tr>
	      			<td>数据库字符集</td>
	      			<td>UTF-8 Unicode (utf8)</td>
	    		</tr>
	    		<tr>
	      			<td>Web 服务器</td>
	      			<td><?php echo $_SERVER['SERVER_SOFTWARE'] ?></td>
	    		</tr>
	  		</tbody>
		</table>
	</div>
<include file="Public:footer" />