@charset "utf-8";
/* CSS login.css */
body{font-size:14px;}

.header,.footer{ position:absolute;  left:0; right:0; width:100%; z-index:99;}
.header{top:0; height:55px; background:#426374;font-size:32px;color:#fff;padding:5px 0 0 0px;letter-spacing:2px;}

.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1; background:#3283AC url(../img/admin-login-bg.jpg) no-repeat center;}
.loginBox{ position:absolute; width:617px; height:330px; background:url(../img/admin-loginform-bg.png) no-repeat; left:50%; top:50%; margin-left:-309px; margin-top:-184px; padding-top:38px;}
.loginBox .formRow{padding-left:153px;}
.loginBox .input_text{ width:360px;}
	.user{background:url(../img/icon-user.png) no-repeat 98px 4px;}
	.password{background:url(../img/icon-pass.png) no-repeat 102px 5px;}
	.yzm a{ color:#426374; font-size:12px}
#login{margin-left:90px;margin-right:4px;}
#span_msg{ font-size:14px; color:Red; line-height:40px; height:40px; margin-left:10px; width:160px;; float:left;}

.hd_msg{font-size:12px; color:#fff; height:30px; z-index:100;position: absolute; padding-left:50px; padding-top:5px;}
.hd_msg a{ color:#fff;}
.hd_msg a:hover{ color:#fff; text-decoration:underline;}

.footer{ height:46px; line-height:46px; bottom:0; text-align:center; color:#fff; font-size:12px; background-color:#426374;}
.header,.footer,.loginWraper{min-width:617px;}

#ie6-warning{background:#fff url(/jscss/demoimg/201006/warning.gif) no-repeat 3px center;position:absolute;top:0;left:0;font-size:12px;color:#333;width:97%;padding: 2px 15px 2px 23px;text-align:left;}
#ie6-warning a {text-decoration:none;}