#breakfast,#lunch,#dinner{float:left}
.baotu img{width:60px;max-height:100px}
.golo .baotu{width:70px;text-align:center;float:left;margin-top:10px}
.golo .shanchu{width:40px;border-radius:3px;background:red;color:#fff;font-size:12px;height:20px;margin:3px 0 0 15px;cursor:pointer;}
.golo1 .baotu{width:70px;text-align:center;float:left;margin-top:10px}
.golo1 .shanchu{width:40px;border-radius:3px;background:red;color:#fff;font-size:12px;height:20px;margin:3px 0 0 15px;cursor:pointer;}
.golo2 .baotu{width:70px;text-align:center;float:left;margin-top:10px}
.golo2 .shanchu{width:40px;border-radius:3px;background:red;color:#fff;font-size:12px;height:20px;margin:3px 0 0 15px;cursor:pointer;}
.golo3 .baotu{width:70px;text-align:center;float:left;margin-top:10px}
.golo3 .shanchu{width:40px;border-radius:3px;background:red;color:#fff;font-size:12px;height:20px;margin:3px 0 0 15px;cursor:pointer;}

.all{width:100%;}
.child{width:70%;margin-left:15%;}
.time{text-align:center;margin:30px 0 30px 0;font-size:20px;}
.else{margin:2px 0 2px 0;}
.content{margin-top:20px;border-top:1px solid #ccc}
.content img{max-width:100%}
.list-page span{display:block;width:40%;float:left;margin:50px 0 50px 0;}
.list-page .prev{text-align:right;padding-right:100px}
.list-page .next{text-align:left;padding-left:100px}
.else img{max-width:50px;max-height:50px;margin:0 2px 0 2px;}
.gallery{margin:5px 0 0 40px;}