	<div class="footer-box">
		<div class="footer1">
			<div class="footer1-box">
				<div class="footer1-1">
					<h2><img src="__PUBLIC__/index/img/flogo.png" alt="" /></h2>
					<ul>
						<li><span>{$lang->index('6')}</span>：{$Contact.tel}</li>
						<li><span>{$lang->index('7')}</span>：{$Contact.fax}</li>
						<li><span>{$lang->index('8')}</span>：{$Contact.email}</li>
						<li><span>{$lang->index('9')}</span>：{$Contact.addr}</li>
					</ul>
				</div>
				<div class="footer1-2">
					<div class="footer1-2-top">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_weixin wx" data-cmd="weixin" title="{$lang->index('15')}"></a>
							<a href="#" class="bds_sqq tencent" data-cmd="sqq" title="{$lang->index('16')}"></a>
							<a href="#" class="bds_tsina blog" data-cmd="tsina" title="{$lang->index('17')}"></a>
							<a href="#" class="bds_tqq sy" data-cmd="tqq" title="{$lang->index('18')}"></a>
							<a href="#" class="bds_qzone qq" data-cmd="qzone" title="{$lang->index('19')}"></a>
           				</div>
					</div>
					<div class="footer1-2-box">
						<input type="text" class="ipt" id="kw2">
						<input type="submit" class="tj" value="{$lang->index('10')}" id="tj">
					</div>
					<div class="copyright">{$lang->index('12')} {$Web.banquan}</div>
				</div>
			</div>			
		</div>
	</div>
</body>
<!--效果-->
<script src="__PUBLIC__/index/js/aos.js"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<script src="__PUBLIC__/index/js/PcSiteJs.js"></script>	
</html>