<div class="footer-box">
	<div class="center">
		<div class="left">
			<div class="item logo">
				<img src="__PUBLIC__/index/img/f-logo.png" alt="" />
			</div>
			<div class="item">
				<p>公司地址：{$Contact['addr']}</p>
				<p>邮件：{$Contact['email']}</p>
			</div>
			<div class="item">
				<p>传真：{$Contact['fax']}</p>
				<p>电话：{$Contact['tel2']}</p>
			</div>
		</div>
		<div class="right">
			版权所有 Copyright(c)2009-2019
		</div>
	</div>
</div>
</body>
<!--效果-->
<script src="__PUBLIC__/index/js/aos.js"></script>
<script src="__PUBLIC__/index/js/swiper-4.1.6.min.js"></script>
<script src="__PUBLIC__/index/js/PcSiteJs.js"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		autoplay: {
			disableOnInteraction: false,
		},
		pagination: {
			el: '.banner .swiper-pagination',
		},
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
	var mySwiper = new Swiper('.horner', {
		slidesPerView: 4,
		spaceBetween: 30,
	});
	$('.index-content2 .center .left').click(function(){
		mySwiper.slidePrev();
	})
	$('.index-content2 .center .right').click(function(){
		mySwiper.slideNext();
	})
	$('.horner').rebox({ selector: '.hornerList a' });
</script>
</html>