<div class="slideBox-inner" style="background:url(__PUBLIC__/index/img/about1.jpg) no-repeat center center;background-size:cover;">
	<div class="font animated fadeInDown">
		<?php 
			if($_SERVER['SERVER_NAME'] =='www.sx-ruide.com' || $_SERVER['SERVER_NAME'] =='sx-ruide.com'){
				echo '<div class="p"><span>科技领先</span><span>质量第一</span><span>用户至上</span></div>';
				echo '<p>Science and technology leading</p><p>Quality first</p><p>Customer first</p>';
			}elseif($_SERVER['SERVER_NAME'] =='en.sx-ruide.com'){
				echo '<p style="font-size:25px;margin-bottom:15px">Science and technology leading</p><p style="font-size:25px;margin-bottom:15px">Quality first</p><p style="font-size:25px;margin-bottom:15px">Customer first</p>';
			}
		?>
	</div>				
</div>