<div class="footerWapper">
	<ul>
		<li><span>{$lang->index('6')}</span>：{$Contact.tel}</li>
		<li><span>{$lang->index('7')}</span>：{$Contact.fax}</li>
		<li><span>{$lang->index('8')}</span>：{$Contact.email}</li>
		<li><span>{$lang->index('9')}</span>：{$Contact.addr}</li>
	</ul>
	<p>{$lang->index('12')} {$Web.banquan}</p>
</div>
<script src="__PUBLIC__/wap/js/swiper-4.1.6.min.js"></script>	
<script src="__PUBLIC__/wap/js/MobileSiteJs.js"></script>
</body>
</html>