<include file="Public:header" />
<style>
    .mt-20{margin-top:0}
    .beifen,.youhua,.xiufu{float: left;margin:10px 10px 0 0;}
</style>
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 数据库
</nav>
<div class="pd-20 text-c">
    <div class="article-class-list cl mt-20">
        <ul class="tab">
            <li><a href="{:U('Admin/System/database')}" class='selected'>数据表</a></li>
            <li><a href="{:U('Admin/System/dbhistory')}">备份记录</a></li>
        </ul>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th style="display:none;"><input type="checkbox" value="" ></th>
                    <th>表名</th>
                    <th>存储引擎</th>
                    <th>数据量</th>
                    <th>内存</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td style="display:none;"><input type="checkbox" value="{$val.name}" name="jobs" checked></td>
                        <td>{$val['name']}</td>
                        <td>{$val['engine']}</td>
                        <td>{$val['rows']}</td>
                        <td>{$val.data_length|format_bytes}</td>
                        <td>{$val['update_time']}</td>
                        <td class="f-14">
                            <a title="备份表" href="javascript:;" class="bei" index="{$val.name},"><i class="icon-folder-open"></i></a>&nbsp;&nbsp;
                            <a title="优化表" href="javascript:;" class="you" index="{$val.name}"><i class="icon-stethoscope"></i></a>&nbsp;&nbsp;
                            <a title="修复表" href="javascript:;" class="xiu" index="{$val.name}"><i class="icon-wrench"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <a href="javascript:;" class="btn btn-primary radius beifen">全部备份</a>
        <a href="javascript:;" class="btn btn-success radius youhua">全部优化</a>
        <a href="javascript:;" class="btn btn-info radius xiufu">全部修复</a>
    </div>
</div>
<js href='__PUBLIC__/admin/js/system_database.js' />
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(3).attr('class','on')
</script>
<include file="Public:footer" />