<include file="Public:header" />
<style>
    .mt-20{margin-top:0}
</style>
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 备份记录
</nav>
<div class="pd-20 text-c">
    <div class="article-class-list cl mt-20">
        <ul class="tab">
            <li><a href="{:U('Admin/System/database')}">数据表</a></li>
            <li><a href="{:U('Admin/System/dbhistory')}" class='selected'>备份记录</a></li>
        </ul>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>ID</th>
                    <th>文件名</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td>{$val['id']}</td>
                        <td>{$val['file']}</td>
                        <td>{$val['time']|date='Y-m-d H:i:s',###}</td>
                        <td class="f-14">
                            <a title="下载" href="{:U('System/download',array('id'=>$val['id']))}"><i class="icon-download"></i></a>&nbsp;&nbsp;
                            <a title="删除" href="javascript:;" class="del" index="{$val.id}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <div id="pageNav" class='pageNav'>{$page}</div>
    </div>
</div>
<js href='__PUBLIC__/admin/js/system_dbhistory.js' />
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(3).attr('class','on')
</script>
<include file="Public:footer" />