<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 邮箱设置
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">邮件发送模式</th>
            <td><input type="radio" checked> SMTP函数发送</td>
        </tr>
        <tr>
            <th class="text-r" width="100">邮件服务器</th>
            <td><input type="text" id="fuwuqi" value="{$arr.fuwuqi}" style="width:500px" class="input-text" maxlength="20"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">邮件发送端口</th>
            <td><input type="text" id="duankou" value="{$arr.duankou}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">发件人地址</th>
            <td><input type="text" id="fajianren" value="{$arr.fajianren}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">验证用户名</th>
            <td><input type="text" id="you" value="{$arr.you}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">验证密码</th>
            <td><input type="text" id="password" value="{$arr.password}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td>
                <button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button>
                <button name="system-base-save" id="ceshi" class="btn btn-primary radius" type="submit">测试发送</button>
            </td>
        </tr>
    </tabel>
</div>
<js href='__PUBLIC__/admin/js/system_email.js' />
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(2).attr('class','on')
</script>
<include file="Public:footer" />