<include file="Public:header" />
<style>
    .file{position: relative;display: inline-block;background: #D0EEFF;border: 1px solid #99D3F5;border-radius: 4px;padding:0 5px 0 5px;overflow: hidden;color: #1E88C7;text-decoration: none;
        text-indent: 0;line-height: 20px;float:left; font-size:12px;}
    .file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;}
    .file:hover {background: #AADFFD;border-color: #78C3F3;color: #004974;text-decoration: none;}
    .xin{font-size:12px;float:left;margin:0 0 0 10px;color:green;cursor:pointer;}
</style>
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 图片水印
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">水印</th>
            <td>
                <div style="width:80px;float:left"><label id="guanbi"><input type="radio" value="0" name="open">关闭</label></div>
                <div style="width:80px;float:left"><label id="kaiqi"><input type="radio" value="1" name="open">开启</label></div>
                <input type="hidden" value="{$arr.open}" id="open">
            </td>
        </tr>
        <tr class="kai">
            <th class="text-r" width="100">样式</th>
            <td>
                <div style="width:80px;float:left"><label id="tu"><input type="radio" value="1" name="style">图片式</label></div>
                <div style="width:80px;float:left"><label id="wen"><input type="radio" value="2" name="style">文字式</label></div>
                <input type="hidden" value="{$arr.style}" id="style">
            </td>
        </tr>
        <tr class="kai tu">
            <th class="text-r" width="100">图片</th>
            <td>
                <span class="golo">
                    <if condition="$arr.img neq ''">
                        <img src="__UPLOADS__/water/{$arr.img}" alt="" style='float:left;margin:3px 5px 0 0' class='img1'>
                        <input type="hidden" value="0" class="shi">
                    <else />
                        <input type="hidden" value="0" class="shi">
                    </if>
                </span>
                <a href="javascript:;" class="file">选择图片
                    <input type="file" style="" onchange="file()" name="img" id="img">
                </a>
            </td>
        </tr>
        <tr class="kai tou">
            <th class="text-r" width="100">透明度</th>
            <td>
                <input type="text" id="opacity" value="{$arr.opacity}" style="width:50px" class="input-text" maxlength="3" onkeyup="value=this.value.replace(/\D+/g,'')">
                请设置为0-100之间的数字，0代表完全透明，100代表不透明
            </td>
        </tr>
        <tr class="kai wen">
            <th class="text-r" width="100">文字</th>
            <td><input type="text" id="word" value="<?php echo trim($arr['word']) ?>" style="width:500px" class="input-text"></td>
        </tr>
        <tr class="kai">
            <th class="text-r" width="100">水印位置</th>
            <td>
                <select id="loca" class="select">
                    <option value="1">顶部居左</option>
                    <option value="2">顶部居中</option>
                    <option value="3">顶部居右</option>
                    <option value="4">中部居左</option>
                    <option value="5">中部居中</option>
                    <option value="6">中部居右</option>
                    <option value="7">底部居左</option>
                    <option value="8">底部居中</option>
                    <option value="9">底部居右</option>
                </select>
                <input type="hidden" value="{$arr.loca}" class="loca">
            </td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<js href='__PUBLIC__/admin/js/system_img.js' />
<script>
    var admin_tou=$('#admin_tou').val();
    var urls=$('#url').val();

    function file(){
        if ($("#img").val().length > 0) {
            ajaxFileUpload();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/water', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.img1').remove();
                    var zhi="<img src="+urls+"/Uploads/water/"+data+" style='float:left;margin:3px 5px 0 0' class='img1'><input type='hidden' value='1' class='shi'>";
                    $('.golo').html(zhi);

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
</script>
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(2).attr('class','on')
</script>
<include file="Public:footer" />