<include file="Public:header" />
<style>
    .file{position: relative;display: inline-block;background: #D0EEFF;border: 1px solid #99D3F5;border-radius: 4px;padding:0 5px 0 5px;overflow: hidden;color: #1E88C7;text-decoration: none;
        text-indent: 0;line-height: 20px;float:left; font-size:12px;}
    .file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;}
    .file:hover {background: #AADFFD;border-color: #78C3F3;color: #004974;text-decoration: none;}
    .xin{font-size:12px;float:left;margin:0 0 0 10px;color:green;cursor:pointer;}
</style>
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 站点设置
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">站点标题</th>
            <td><input type="text" id="title" value="{$Web['title']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">站点关键字</th>
            <td><input type="text" id="keywords" value="{$Web['keywords']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">站点描述</th>
            <td><input type="text" id="description" value="{$Web['description']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">站点LOGO</th>
            <td>
                <span class="golo">
                    <img src="__PUBLIC__/favicon.ico" alt="" style="width:16px;float:left;margin:3px 5px 0 0 " class="favicon">
                </span>
                <a href="javascript:;" class="file">选择ICO图标
                    <input type="file" style="" onchange="file()" name="img" id="img">
                </a>
                <span class="xin" onclick="location.reload()">刷新</span>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">版权归属</th>
            <td><input type="text" id="banquan" value="{$Web['banquan']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">ICP备案证书号</th>
            <td><input type="text" id="icp" value="{$Web['icp']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<js href='__PUBLIC__/admin/js/system_index.js' />
<script>
    var admin_tou=$('#admin_tou').val();
    function file(){
        if ($("#img").val().length > 0) {
            ajaxFileUpload();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: 'favicons', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    if(data=='yes'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传成功',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        $('.ui-dialog-button').click(function(){
                            location.reload();
                        })
                    }

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
</script>
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />