<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 修改密码
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">旧密码</th>
            <td><input type="password" id="old_pass" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">新密码</th>
            <td><input type="password" id="new_pass" value="" style="width:500px" class="input-text" maxlength="20"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">确认密码</th>
            <td><input type="password" id="repass" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<js href='__PUBLIC__/admin/js/system_password.js' />
<script>
    $('#menu-cog').attr('class','selected');
    $('#menu-cog li a').eq(1).attr('class','on')
</script>
<include file="Public:footer" />