<include file="Public:header" />
<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner1.jpg" alt="" />
			<div class="font font1" >
				<div class="f1"><img src="__PUBLIC__/index/img/b-font1.png" alt="" /></div>
				<div class="f2">专注法兰锻件制造</div>
				<div class="f3">20 years dedicated to the manufacture of flange forgings</div>
			</div>

		</div>
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner2.jpg" alt="" />
			<div class="font font2">
				<div class="f1"><img src="__PUBLIC__/index/img/b-font2.png" alt="" /></div>
				<div class="f3">Atten tively,make quality ascension endless!</div>
			</div>
		</div>
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner3.jpg" alt="" />
			<div class="font font3">
				<div class="f1"><img src="__PUBLIC__/index/img/b-font3.png" alt="" /></div>
				<div class="f4">换热器管板 法兰 锻件 专业制造厂家</div>
				<ul>
					<li><img src="__PUBLIC__/index/img/b-icon1.png" alt="" /><p>品质保证</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon2.png" alt="" /><p>优质材料</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon3.png" alt="" /><p>专业制造</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon4.png" alt="" /><p>规格多样</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon5.png" alt="" /><p>库存充足</p></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
<div class="index-content index-content1">
	<div class="center">
		<div class="indexTitle" aos="fade-up" aos-duration="800" aos-delay="200">
			<div><p>产品展示</p><span>PRODUCT DISPLAY</span></div>
		</div>
		<ul class="proList">
			<foreach name="Classify" item="val">
				<li aos="fade-up" aos-duration="800" aos-delay="400">
					<a href="#">
						<div class="img">
							<img src="__UPLOADS__/img{$val.img}" alt="" />
						</div>
						<p>{$val.title}</p>
					</a>
				</li>
			</foreach>
		</ul>
		<a href="{:U('Product/index')}" class="more">展示更多</a>
	</div>
</div>
<div class="index-content index-content2">
	<div class="center">
		<div class="indexTitle bj" aos="fade-up" aos-duration="800" aos-delay="200">
			<div><p>资质证书</p><span>QUALIFICATION CERTIFICATE</span></div>
		</div>
		<a href="javascript:;" class="control left" aos="fade-up" aos-duration="800" aos-delay="400"></a>
		<a href="javascript:;" class="control right" aos="fade-up" aos-duration="800" aos-delay="400"></a>
		<div class="swiper-container horner" aos="fade-up" aos-duration="800" aos-delay="400">
			<div class="swiper-wrapper">

				<foreach name="Qual" item="val">
					<div class="swiper-slide">
						<div class="img hornerList">
							<a href="__UPLOADS__/img{$val.img}"><img src="__UPLOADS__/img{$val.img}" alt="" /></a>
						</div>
						<p>{$val.title}</p>
					</div>
				</foreach>
			</div>
		</div>
	</div>
</div>
<div class="index-content index-content3">
	<div class="center">
		<div class="indexTitle" aos="fade-up" aos-duration="800" aos-delay="200">
			<div><p>公司简介</p><span>CONPANY PROFILE</span></div>
		</div>
		<div class="aboutposter" aos="fade-up" aos-duration="800" aos-delay="400">
			<img src="__UPLOADS__/img{$About.img}" alt="">
			<a href="{:U('About/index')}">了解更多&nbsp;&nbsp;&nbsp;&nbsp;></a>
		</div>
	</div>
</div>
<include file="Public:footer" />
<!--效果-->
<script src="js/aos.js"></script>
<script src="js/swiper-4.1.6.min.js"></script>
<script src="js/PcSiteJs.js"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		autoplay: {
			disableOnInteraction: false,
		},
		pagination: {
			el: '.banner .swiper-pagination',
		},
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
	var mySwiper = new Swiper('.horner', {
		slidesPerView: 4,
		spaceBetween: 30,
	});
	$('.index-content2 .center .left').click(function(){
		mySwiper.slidePrev();
	})
	$('.index-content2 .center .right').click(function(){
		mySwiper.slideNext();
	})
	$('.horner').rebox({ selector: '.hornerList a' });
</script>
