<include file="Public:header" />
	<div id="slideBox" class="slideBox">
		<div class="hd">
			<ul>
				<foreach name="Banner" item="val">
					<li></li>
				</foreach>
			</ul>
		</div>
		<div class="bd">
			<ul>
				<foreach name="Banner" item="val">
					<li>
						<a>
							<img src="__UPLOADS__/img{$val.img}" />
							<div class="font">
								<div class="font1 animated fadeInUp"><img src="__PUBLIC__/index/img/inner-banner1.png" alt="" /></div>
								<div class="font2 animated fadeInUp1">{$val.text1}</div>
								<div class="font3 animated fadeInUp2">{$val.text2}</div>
							</div>
						</a>					
					</li>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="index-content">
		<div class="content1">
			<div class="content1-lf" aos="fade-up" aos-duration="800" aos-delay="400">
				<h3>{$Contact.company}</h3>
				<p>{$About.index}</p>
				<a href="{:U('About/index')}">{$lang->index('0')}<i>></i></a>
			</div>
			<div class="content1-rg" aos="fade-down" aos-duration="800" aos-delay="400">
				<img src="__UPLOADS__/img{$About.img}" alt="">
			</div>
		</div>
		<div class="content2">
			<div class="content-title" aos="fade-up" aos-duration="800" aos-delay="200">
				{$lang->index('1')}
			</div>
			<div id="Slide1" class="zy-Slide">				
				<ul class="gallery2">
					<foreach name="Classify" item="val">
						<li><img src="__UPLOADS__/img{$val.img}"><p>{$val.title}</p></li>
					</foreach>
				</ul>
				<div class="control">
					<section class="left"></section>
					<a href="{:U('Product/index')}">{$lang->index('0')}</a>
					<section class="right"></section>
				</div>				
			</div>
		</div>
		<div class="content3">
			<div class="content-title blue" aos="fade-up" aos-duration="800" aos-delay="200">
				{$lang->index('4')}
			</div>
			<h6><a href="{:U('Field/index')}">{$lang->index('2')}+</a></h6>
			<div class="slideBox1">
				<div class="hd">
					<ul>
						<foreach name="Field" item="val" k="key">
							<if condition="$key lt 10">
								<li></li>
							</if>
						</foreach>
					</ul>
				</div>
				<div class="bd">
					<ul>
						<foreach name="Field" item="val" k="key">
							<if condition="$key lt 10">
								<li class="poster-item">
									<a>
										<img src="__UPLOADS__/img{$val.img}">
										<div class="title">
											<div class="font">
												<h2>{$val.title}</h2>
												<!-- <h3>上海浦东国际机场一期工程于1997年10月全面开工建设，于1999年9月建成通航。</h3> -->
											</div>
										</div>
									</a>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
				<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>

			</div>
		</div>
		<div class="content4">
			<div class="content-title blue" aos="fade-up" aos-duration="800" aos-delay="200">
				{$lang->index('5')}
			</div>
			<div class="picScroll-left1">
				<ul class="picList" id="gallery2">
					<foreach name="Qual" item="val">
						<li aos="fade-up" aos-duration="800" aos-delay="400">
							<div class="pic"><a href="__UPLOADS__/img{$val.img}"><img src="__UPLOADS__/img{$val.img}" alt=""></a></div>
							<div class="title">{$val.title}</div>
						</li>
					</foreach>
				</ul>
			</div>
		</div>		
	</div>
<include file="Public:footer" />
<script>
	$('.zy-Slide').zySlide({ speed: 500 });
	$('#gallery2').rebox({ selector: '.pic a' });
</script>