<include file="Public:header" />
<include file="Public:header_next" />
	<div class="newsWapper">
		<div class="newsMain">
			<div class="left" style="font-size:18px;">
				{$lang->index('35')}
			</div>
		</div>
	</div>
<include file="Public:footer" />