<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="newsWapperMain">

	<div class="main">
		{$lang->index('35')}
	</div>

</div>
<include file="Public:wap_footer" />