<include file="Public:wap_header" />
<div class="swiper-container Banner">
  	<div class="swiper-wrapper">
		<foreach name="Banner" item="val">
		    <div class="swiper-slide">
		    	<img src="__UPLOADS__/img{$val.img}" />
				<div class="font">
					<div class="font1">
						<img src="__PUBLIC__/wap/img/inner-banner1.png" alt="" />
					</div>
					<div class="font2">{$val.text1}</div>
					<div class="font3">{$val.text2}</div>
				</div>
		    </div>
		</foreach>
  	</div>
  	<!-- Add Pagination -->
  	<div class="swiper-pagination"></div>
</div>
<div class="indexWapper1">
	<div class="title">{$Contact.company}</div>
	<p>{$About.index}</p>
	<a href="{:U('About/index')}">{$lang->index('0')}<i>></i></a>
	<img src="__UPLOADS__/img{$About.img}" alt="">
</div>
<div class="indexWapper2">
	<div class="title">{$lang->index('1')}</div>
	<div class="indexWapper2-Box">
		<div class="swiper-container pro">
		  	<div class="swiper-wrapper">
		  		<foreach name="Classify" item="val">
		  			<div class="swiper-slide">
		  				<div class="img">
		  					<img src="__UPLOADS__/img{$val.img}">
		  				</div>    	
		  				<p>{$val.title}</p>
		  			</div>
		  		</foreach>
			</div>
			<!-- Add Arrows -->
  			<div class="swiper-button-next"></div>
  			<div class="swiper-button-prev"></div> 	
		</div>
		<a href="{:U('Product/index')}" class="more">{$lang->index('0')}</a>
	</div>
</div>
<div class="indexWapper3">
	<div class="title">{$lang->index('4')}</div>
	<div class="swiper-container Project">
	  	<div class="swiper-wrapper">
			<foreach name="Field" item="val" k="key">
				<if condition="$key lt 10">

					<div class="swiper-slide">
						<img src="__UPLOADS__/img{$val.img}">
						<div class="font">
							<div class="name">{$val.title}</div>
							<!-- <p>工业石油钻机工业工业石油钻机工业工业石油钻机工业工业石油钻机工业工业石油钻机工业</p> -->
						</div>
					</div>
				</if>
			</foreach>
	  	</div>
	  	<!-- Add Pagination -->
	  	<div class="swiper-pagination"></div>
	</div>
</div>
<div class="indexWapper4">
	<div class="title">{$lang->index('5')}</div>
	<div class="swiper-container Horner">
		<div class="swiper-wrapper" id="gallery2">
			<foreach name="Qual" item="val">
				<div class="swiper-slide">
					<div class="img">
						<a href="__UPLOADS__/img{$val.img}"><img src="__UPLOADS__/img{$val.img}" alt="" /></a>
					</div>    	
					<p>{$val.title}</p>
				</div>
			</foreach>
		</div>
	</div>
</div>
<include file="Public:wap_footer" />
<script>
	$('#gallery2').rebox({ selector: '.swiper-slide a' });
	new Swiper('.Banner', {
  		pagination: {
    		el: '.swiper-pagination',
    		clickable: true,
  		},
	});
	new Swiper('.pro', {
		navigation: {
    		nextEl: '.swiper-button-next',
    		prevEl: '.swiper-button-prev',
  		},
	});
	new Swiper('.Project', {
  		pagination: {
    		el: '.swiper-pagination',
    		clickable: true,
  		},
	});
	var mySwiper = new Swiper('.Horner', {
  		slidesPerView:'auto',
  		spaceBetween: 30,
		centeredSlides : true,
		initialSlide :1,
	});
</script>