<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> Banner <span class="c-gray en">&gt;</span> Banner <span class="c-gray en">&gt;</span> Banner
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:;history.go(-1)" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">图片</th>
            <td>
                <span class="golo"></span>
                <a href="javascript:;" class="file">选择图片
                    <input type="file" style="" onchange="file()" name="img" id="img">
                    <input type="hidden" value="" id="iimg1">
                </a>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">文字1</th>
            <td><input type="text" id="text1" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">文字2</th>
            <td><input type="text" id="text2" value="" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<script src='__PUBLIC__/admin/js/banner_add.js'></script>
<script>
    var admin_tou=$('#admin_tou').val();
    var urls=$('#app').val();

    function file(){
        if ($("#img").val().length > 0) {
            ajaxFileUpload();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/img', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.img').remove();
                    var zhi="<img src="+urls+'/Uploads/img'+data+" class='img' style='float:left;margin:3px 5px 0 0;width:500px;'>";
                    $('#iimg1').val(data);
                    $('.golo').html(zhi);

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
</script>
<script>
    $('#menu-list2').attr('class','selected');
    $('#menu-list2 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />