<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> Banner <span class="c-gray en">&gt;</span> Banner
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <span class="l"><a href="{:U('Banner/add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加Banner</a></span>
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>图片</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td><img src="__UPLOADS__/img{$val.img}" alt="" style="width:100px"></td>
                        <td class="f-14">
                            <a title="编辑" href="{:U('Banner/edit',array('id'=>$val[id]))}"><i class="icon-edit"></i></a>&nbsp;&nbsp;
                            <a title="删除" href="javascript:;" class="del" index="{$val['id']}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</div>
<script src='__PUBLIC__/admin/js/banner_index.js'></script>
<script>
    $('#menu-list2').attr('class','selected');
    $('#menu-list2 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />