@charset "utf-8";
/**
 * by myy
 * 2019-06-18
 */
html{font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
body{font:12px '微软雅黑',\5b8b\4f53,Arial,sans-serif;background:#fff;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;}
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}
button,input,optgroup,select,textarea {margin: 0;font: inherit;color: inherit;}
hr {height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
sub,sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline}
sup {top: -.5em}
sub {bottom: -.25em}
img{border:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
input,label,img,th{vertical-align:middle}
ul,ol,li{list-style:none}
a{text-decoration:none;background: transparent}
a:hover,a:active{text-decoration:none}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline}
abbr[title] {border-bottom: 1px dotted}
pre {overflow: auto}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer}
fieldset {padding: .35em .625em .75em;margin: 0 2px;border: 1px solid #c0c0c0}
legend {padding: 0;border: 0}
textarea {overflow: auto}
optgroup {font-weight: bold}
table{border-collapse:collapse;border-spacing:0}
/*通用样式*/
.clearfix:after,clearfix:before{display:table;content:" ";}
.clearfix:after,.clear{clear:both}

/*页面开始*/
body{min-width:1200px; }
.center{
	width:1200px;
	margin:0 auto;
}
.header-box{
	width:100%;
	background:#fff;
}
.header{
	height:94px;
}
.header .logo{
	width:330px;
	float:left;
	text-align:center;
	line-height:94px;
}
.header .logo img{
	max-width:100%;
}
.header .nav-box{
	width:800px;
	float:right;
}
.header .nav{
	width:630px;
	float:left;
	overflow:hidden;
}
.header .nav li{
	float:left;
	height:94px;
	position:relative;
	padding:0 15px;
}
.header .nav li a{
	display:block;
	text-align:center;
	height:94px;
	line-height:94px;
	color:#222;
	font-size:16px;
	transition: color 0.5s ease 0s;
}
.header .nav > li:after{
	content: "";
	width: 0;
	height: 5px;
	background: #123273;
	position: absolute;
	top: 14px;
	left: 0;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header .nav > li:hover a {color:#123273;}
.header .nav > li:hover:after{
	width: 100%;
}
.header .nav > li.on a {color:#123273;}
.header .nav > li.on:after{
	width: 100%;
}



.header .nav2{
	width:150px;
	float:right;
	height:84px;
} 
.header .nav2 .search-box{
	position:relative;
	width:44px;
	height:94px;
	float:left;
}
.header .nav2 .search-box a{
	display:block;
	float:left;
	width:100%;
	height:100%;
	text-align:center;
	line-height:94px;
}
.header .nav2 .search-box .search {
	width:315px;
	height:65px;
	padding:4px;
	background:#f3f3f3;
	position:absolute;
	right:0;
	top:84px;
	display:none;
	z-index:999;
}
.header .nav2 .search-box .search .search-input{
	width:100%;
	height:100%;
	background:#fff;
	font-size:14px;
}
.header .nav2 .search-box .search input.ipt{
	width:240px;
	border:none;
	height:100%;
	outline:none;
	padding:0 10px;
}
.header .nav2 .search-box .search input.tj{
	background:url(../img/btn.png) no-repeat center center;
	border:none;
	width:40px;
	height:40px;
	outline:none;
}

.header .nav2 .nav2-span{
	width:100px;
	float:left;
	height:94px;
	line-height:94px;
	position:relative;
	text-align:center;
}
.header .nav2 .nav2-span > span{
	color:#636363;
	font-size:14px;
	cursor: pointer;
	position:relative;
	height:22px;
	line-height:22px;
	display:inline-block;
}
.header .nav2 .nav2-span > span > img{
	margin-right:5px;
	margin-top:-2px;
}
.header .nav2 .nav2-span > em{
	margin-left:5px;
}
.header .nav2 .nav2-span > ul{
	position:absolute;
	width:100%;
	left:0;
	top:80%;
	display:none;
	z-index:999;
	background:#fff;
	padding:2% 0;
	border-radius:2px;
	-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.3); 
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
}
.header .nav2 .nav2-span > ul li{
	text-align:center;
	height:30px;
	line-height:30px;
	color:#636363;
	font-size:14px;
	cursor: pointer;
}
.header .nav2 .nav2-span > ul li:hover{
	background:#eee;
}
.header .nav2 .nav2-span > ul li a{
	color:#636363;
}
.header .nav2 .nav2-span > ul li a > img{
	margin-right:5px;
	max-height:100%;
}
/*banner*/

.banner .swiper-container {
  width: 100%;
  background:#000;
}
.banner .swiper-slide {
  position:relative
}
.banner .swiper-slide > img{
	display:block;
	width:100%;
}
.banner .swiper-slide .font1{
	width:500px;
	height:180px;
	position:absolute;
	top:50%;
	right:50%;
	margin-right:-600px;
	margin-top:-90px;
}
.banner .swiper-slide .f2{
	color:#fff;
	font-weight:bold;
	font-size:30px;
	margin-top:30px;
}
.banner .swiper-slide .f3{
	color:#fff;
	font-size:14px;
	margin-top:10px;
}
.banner .swiper-slide .f4{
	color:#fff;
	font-size:24px;
	margin-top:15px;
}
.banner .swiper-slide .font2{
	width:500px;
	height:150px;
	position:absolute;
	top:150px;
	right:50%;
	margin-right:-600px;
}
.banner .swiper-slide .font3{
	width:500px;
	height:250px;
	position:absolute;
	top:50%;
	right:50%;
	margin-right:-600px;
	margin-top:-125px
}
.banner .swiper-slide ul{
	width:100%;
	overflow:hidden;
	margin-top:60px;
}
.banner .swiper-slide ul li{
	width:60px;
	text-align:center;
	float:left;
	margin-right:40px;
}
.banner .swiper-slide ul li img{
	max-width:100%;
}
.banner .swiper-slide ul li p{
	color:#fff;
	font-size:14px;
	margin-top:10px;
}
.banner .swiper-slide .font{
	transform:translateY(200px);
	opacity:0;
	transition:all .4s;
}
.banner .ani-slide .font{
	transform:translateY(0);
	opacity:1;
}
.banner .swiper-pagination-bullet{
	width:12px;
	height:12px;
	background:#787878;
	opacity:1;
	margin:0 10px !important;
}
.banner .swiper-pagination-bullet-active{
	background:#fff;
	opacity:1;
}
.banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom:40px;
}

.indexTitle{
	width:420px;
	margin:0 auto;
	height:180px;
	position:relative
}
.indexTitle:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background:#121034;
	margin-top:-1px;
	top:50%;
}
.indexTitle div{
	width:200px;
	height:80px;
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	margin:-40px 0 0 -90px;
	background:#fff;
}
.indexTitle.bj div{
	background:#f2f2f2;
}
.indexTitle div p{
	color:#333;
	font-size:34px;
}
.indexTitle div span{
	color:#999;
	font-size:14px;
	text-transform: uppercase;
	margin-top:5px;
}
.index-content{
	padding-bottom:70px;
}
.proList{
	overflow:hidden;
}
.proList li{
	width:266px;
	height:370px;
	float:left;
	margin:0 17px 50px;
}
.proList a{
	display:block;
}
.proList .img{
	width:264px;
	height:312px;
	line-height:312px;
	border:1px #dfdfdf solid;
	background:url(../img/bj1.jpg) no-repeat top center;
	background-size:cover;
	text-align: center;
	overflow:hidden;
}
.proList .img img{
	max-width:100%;
	transition: all 0.5s;
}
.proList .img:hover img{
	transform: scale(1.1);
}
.proList li p{
	color:#121034;
	font-size:16px;
	margin-top:20px;
	text-align: center;
}
.index-content1 .more{
	display:block;
	width:216px;
	height:50px;
	line-height:50px;
	text-align: center;
	color:#fff;
	border-radius:50px;
	font-size:18px;
	background:#1e1e1e;
	margin:0 auto;
}
.index-content2{
	width:100%;
	background:#f2f2f2;
}
.index-content2 .center{
	position:relative;
}
.index-content2 .control {
	display:block;
	width:66px;
	height:66px;
	line-height:66px;
	border:1px #d2d2d2 solid;
	position:absolute;
	top:55%;
}
.index-content2 .control.left{
	left:0;
	background:url(../img/left.png) no-repeat center center;
}
.index-content2 .control.right{
	right:0;
	background:url(../img/right.png) no-repeat center center;
}
.index-content2 .horner{
	width:1000px;
	margin:0 auto;
}

.horner .swiper-slide{
	height:370px;
}
.horner .swiper-slide a{
	display:block;
}
.horner .swiper-slide .img{
	width:223px;
	height:312px;
	border:1px #dfdfdf solid;
	overflow:hidden;
	margin:0 auto;
}
.horner .swiper-slide .img img{
	width:100%;
}
.horner .swiper-slide p{
	color:#121034;
	font-size:16px;
	margin-top:20px;
	text-align: center;
}
.aboutposter{
	position:relative;
}
.aboutposter img{
	display:block;
	width:100%;
}
.aboutposter a{
	display:block;
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:16px;
	background:#000;
	position:absolute;
	bottom:0;
	left:0
}
.footer-box{
	width:100%;
	overflow:hidden;
	background:#1e1e1e;
}
.footer-box .item{
	float:left;
	margin-right:40px;
	color:#fff;
	font-size:14px;
	padding:20px 0;
}
.footer-box .item.logo{
	line-height:80px;
	padding:0;
	margin-right:65px;
}
.footer-box .item p{
	line-height:22px;
}
.footer-box .right{
	width:240px;
	float:right;
	text-align:center;
	line-height:80px;
	color:#999;
	font-size:12px;
}
/*about*/
.catposBox{
	padding:35px 15px;
	border-bottom:1px #bfbfbf solid;
}
.catposBox a{
	color:#666666;
	font-size:14px;
}
.catposBox em{
	font-style:normal;
	color:#666666;
	font-size:14px;
	padding:0 8px;
}
.catposBox span{
	color:#333;
	font-size:18px;
	font-weight:bold;
}
.innerNav{
	text-align: right;
}
.aboutCenter{
	width:1050px;
	margin:0 auto;
}
.innerNav{
	padding:50px 0 0; 
}
.innerNav a{
	padding:13px 19px;
	border-radius:50px;
	background:#787878;
	color:#fff;
	font-size:18px;
	margin-right:10px;
}
.innerNav a.on{
	background:#000;
	font-weight:bold;
}
.aboutmain{
	padding:70px 0;
	border-bottom:1px #bfbfbf solid;
}
.aboutmain .title{
	color:#000;
	font-size:30px;
	text-align: center;
	padding:50px 0;
}
.aboutmain p{
	line-height:32px;
	font-size:16px;
	text-indent:2em;
	color:#666;
	text-align: justify;
}
.aboutaddress{
	padding:70px 0;
	color:#333;
	font-size:16px;
	font-weight:bold;
}
.aboutaddress span{
	margin-right:50px;
}
.aboutBig{
	padding:70px 0;
}
.aboutBig .title{
	color:#000;
	font-size:30px;
	text-align: center;
}
.aboutBig img{
	display:block;
	max-width:100%;
	margin:40px 0;
}
.aboutBig table {
	width:1050px;
	margin-top:30px;
}
.aboutBig table tr td{
	color:#333;
	font-size:16px;
	padding:20px 15px;
}
.aboutBig table tr td.bold{
	font-weight:bold;
	text-align:right;
}
.about-horner{
	width:1050px;
	margin:0 auto;
	overflow:hidden;
	padding:70px 0;
}
.about-horner .swiper-slide{
	width:225px;
	height:370px;
	float:left;
	margin:30px 18px;
}
.about-horner .swiper-slide a{
	display:block;
}
.about-horner .swiper-slide .img{
	width:223px;
	height:312px;
	border:1px #dfdfdf solid;
	overflow:hidden;
	margin:0 auto;
}
.about-horner .swiper-slide .img img{
	width:100%;
}
.about-horner .swiper-slide p{
	color:#121034;
	font-size:16px;
	margin-top:20px;
	text-align: center;
}
.newsBox{
	padding:40px 0;
}
.newsList{
	width:1200px;
	margin:0 auto;
	padding:33px 0;
	border-bottom:1px #eee solid;	
	background:url(../img/new-left.png) no-repeat 98% center;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.newsList a{
	display:block;
	overflow:hidden;
}
.newsList .left{
	width:140px;
	float:left;	
}
.newsList .left span{
	display:block;
	text-align: center;
	color:#333;
	font-size:30px;
	font-weight:bold;
}
.newsList .left p{
	color:#333;
	font-size:18px;
	text-align: center;
	
}
.newsList .right{
	width:850px;
	float:left;
	padding:0 35px;
	border-left:1px #eee solid;
}
.newsList .right .title{
	color:#2f2f2f;
	font-size:18px;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
}
.newsList .right p{
	color:#7b7b7b;
	font-size:14px;
	text-indent:2em;
	line-height:24px;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top:10px;
  text-align: left;
}
.newsList:hover{
	background:url(../img/new-left1.png) no-repeat 98% center;
}
.newsList:hover .title{
	color:#000;
}
.pages {
	margin:50px auto 84px;
	text-align: center;
}
.pages span,.pages a {
	background: #fff;
	padding: 8px 20px;
	border: 1px #dddddd solid;
	font-size: 14px;
	color: #666;
	display: inline-block;
}
.pages .disabled {
	background: #efefef;
	color: #ccc;
}
.pages .current {
	background: #000;
	color: #fff;
	border: 1px #000 solid;
}
.aboutLast{
	width:100%;
	position:relative;
	height:665px;
	margin-top:70px;
}
.aboutLast .img1{
	display:block;
	position:absolute;
	top:0;
	left:0
}
.aboutLast .img2{
	display:block;
	position:absolute;
	bottom:0;
	right:-70px;
}
/*品质*/
.pjMain{
	padding:70px 0;
}
.pjMain h6{
	color:#333;
	font-size:16px;
	font-weight:bold;
	margin:40px 0;
}
.pjMain h5{
	color:#333;
	font-size:16px;
	font-weight:bold;
	margin:40px 0 10px;
}
.pjMain p{
	line-height:32px;
	font-size:16px;
	color:#666;
}
.pjMain p.p2{
	padding-left:2em;
}
.pjMain p.p4{
	padding-left:4em;
}
.pjMain .title{
	color:#000;
	font-size:30px;
	text-align: center;
}
.pjMain .line{
	width:100%;
	height:1px;
	background:#dfdfdf;
	margin:30px 0;
}
.pjMain > img{
	display:block;
	width:100%;
	margin-bottom:50px;
}
.pjMain .item{
	padding:20px 0;
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.1); 
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.1); 
	box-shadow:1px 1px 10px rgba(0,0,0,0.1);
	margin:24px 0;
}
.pjMain .item table td{
	padding-left:35px;
}
.pjMain .item table td b{
	color:#333;
	font-size:18px;
}
.pjMain .item table td p{
	color:#666;
	font-size:14px;
	margin-top:10px;
	line-height:32px;
}
.pjMain .item table td img{
	width:260px;
}
/*售后*/
.shMain .title{
	color:#000;
	font-size:30px;
	text-align: center;
	padding:60px 0
}
.shMain p{
	line-height:39px;
	font-size:16px;
	color:#666;
	margin:30px 0;
	text-indent:2em;
}
.shMain .line{
	width:100%;
	height:1px;
	background:#dfdfdf;
	margin:30px 0;
}
.shMain img{
	display:block;
	margin:0 auto;
}
/*设备*/
.sbCenter{
	width:1200px;
	margin:0 auto;
}
.sbCenter .item{
	width:520px;
	height:610px;
	border:1px #dfdfdf solid;
	margin:50px 39px;
	float:left;
}
.sbCenter .item .img{
	height:390px;
	width:100%;
	overflow:hidden;
}
.sbCenter .item .img img{
	display:block;
	width:100%;
	transition: all 0.5s;
}
.sbCenter .item .img:hover img{
	transform: scale(1.1);
}
.sbCenter .item .font{
	padding:18px;
}
.sbCenter .item .font .t{
	color:#333;
	font-size:20px;
	font-weight:bold;
}
.sbCenter .item .font p{
	color:#666;
	font-size:16px;
	line-height:30px;
	margin-top:30px;
}
/*联系我们*/
.contactWapper{
	width:1200px;
	margin:70px auto;
	overflow:hidden;
}
.contactWapper .left{
	width:400px;
	float:left;
	margin-left:55px;
}
.contactWapper .left .name{
	color:#4c4c56;
	font-size:30px;
	margin-top:46px;
}
.contactWapper .left .add{
	color:#4c4c56;
	font-size:20px;
	margin:22px 0 27px;
}
.contactWapper .left p{
	color:#333;
	font-size:16px;
	height:30px;
	line-height:30px;	
}
.contactWapper .left p span{
	display:block;
	width:70px;
	float:left;
	font-weight:bold;
}
.contactWapper .right{
	width:696px;
	height:360px;
	float:right;
	margin-right:28px;
}
.slideBox-inner{ 
	width:100%;
	height:332px;
	overflow:hidden; 
	position:relative;
}
.slideBox-inner .font{
	width:1200px;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-550px;
}
.slideBox-inner .font .p{
	color:#fff;
	font-size:28px;	
	margin-bottom:22px;
}
.slideBox-inner .font .p span{
	margin-right:50px;
}
.slideBox-inner .font p{
	font-size:12px;
	color:#fff;
	text-transform: uppercase;
	line-height:24px;
}
/*产品*/
.proCenter{
	width:1200px;
	margin:0 auto;
	padding:60px 0;
	overflow:hidden;
}
.proCenter .left{
	width:260px;
	float:left;
}
.proCenter .left .t{
	color:#222;
	font-size:20px;
	font-weight:bold;
	border-left:4px #222 solid;
	padding-left:21px;
}
.proCenter .left ul{
	padding-left:25px;
	margin-top:20px;
}
.proCenter .left ul li{
	height:50px;
	line-height:50px;
	border-bottom:1px #e7e7e7 solid;	
}
.proCenter .left ul li a{
	display:block;
	color:#222;
	font-size:16px;
	padding-left:5px;
}
.proCenter .left ul li.on a{
	color:#eeb752;
	background:url(../img/jt1.png) no-repeat 98% center;
}
.proCenter .left ul li:hover a{
	color:#eeb752;
	background:url(../img/jt1.png) no-repeat 98% center;
}
.proCenter .right{
	width:900px;
	float:right;
}
.pages.right{
	text-align: right;
	padding-right:17px;
}
.proCenter .right.pro{
	width:860px;
}
.proBig{
	overflow:hidden;
}
.proBig .l{
	width:430px;
	float:left;
}

.probanner {
	width: 428px;
	height:500px;
	overflow: hidden;
	border:1px #dfdfdf solid;
}

.large_box {
	width: 100%;
	height: 400px;
	line-height:428px;
	overflow: hidden
}
.large_box ul li{
	background:url(../img/bj1.jpg) repeat-x top center;
	background-size:cover;
	text-align: center;
	overflow:hidden;	
}
.large_box img {
	max-width:100%;
}

.small_box {
	width: 100%;
	height: 65px;
	overflow: hidden;
	padding:20px 0;
}

.small_list {
	position: relative;
	float: left;
	width: 370px;
	height: 65px;
	overflow: hidden
}

.small_list ul {
	height: 65px;
	overflow: hidden
}

.small_list ul li {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 61px;
	height:61px;
	line-height:61px;
	background:url(../img/bj1.jpg) repeat-x top center;
	background-size:cover;
	text-align: center;
	overflow:hidden;	
	border:2px #fff solid;
}
.small_list ul li.on{
	border-color:#666;
}
.small_list ul li img {
	max-width:80%;
}

.btn {
	display: block;
	width: 20px;
	height: 65px;
	cursor: pointer
}

.left_btn {
	float: left;
	margin-right: 10px;
	background: url(../img/left_btn.png) no-repeat center center;
}

.right_btn {
	float: right;
	background: url(../img/right_btn.png) no-repeat center center
}
.proBig .r{
	width:370px;
	padding:30px;
	height:340px;
	background:#f5f5f5;
	float:left;
}
.proBig .r .t{
	color:#999;
	font-size:14px;	
}
.proBig .r .title{
	color:#333;
	font-size:30px;	
}
.proBig .r p{
	color:#666;
	font-size:14px;	
	line-height:22px;
	margin:30px 0;
	text-align: justify;
}
.proBig .r a{
	display:block;
	width:130px;
	height:40px;
	border-radius:50px;
	color:#fff;
	font-size:16px;
	line-height:40px;
	text-align: center;
	background:url(../img/link.png) no-repeat center center;
	background-size:cover;
}
.proBig .r img{
	margin-right:10px;
	margin-top:-2px;
}
.prodesc{
	border:1px #dfdfdf solid;
	width:858px;
	margin-top:55px;
}
.prodesc .desc{
	width:160px;
	height:40px;
	background:#000;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-align: center;
	line-height:40px;
}
.prodesc .font{
	padding:24px;
}
.prodesc .font p{
	overflow:hidden;
	color:#666;
	font-size:16px;
	line-height:37px;
	margin:15px 0;
}
.prodesc .font p b{
	width:80px;
	float:left;	
}
.prodesc .font p span{
	float:left;
	width:730px;
	text-align: justify;
}
#bg{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	z-index:999;
	display:none;
}
#bg .fixBox{
	width:900px;
	height:380px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-240px 0 0 -450px; 
	overflow:hidden;
	padding-top:100px;
}
#bg .fixBox .close{
	width:46px;
	height:46px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-23px;
	cursor: pointer;
}
#bg .fixBox .close img{
	max-width:100%;
}
#bg .fixBox .left{
	width:500px;
	height:380px;
	float:left;
}
#bg .fixBox .left img{
	width:100%;
	height:100%;
}
#bg .fixBox .right{
	width:330px;
	height:340px;
	padding:20px 35px;
	float:right;
	background:#fff;
}
#bg .fixBox .right .t{
	color:#333;
	font-size:24px;
	font-weight:bold;
	padding:35px 0;
	border-bottom:1px #d2d2d2 solid;
}
#bg .fixBox .right .b{
	overflow:hidden;
	margin-top:30px;
}
#bg .fixBox .right .b .l{
	width:75px;
	height:75px;
	float:left;
}
#bg .fixBox .right .b .l img{
	display:block;
	width:100%;
}
#bg .fixBox .right .b .r{
	width:220px;
	float:right;
	color:#666;
	font-size:20px;
}
#bg .fixBox .right .b b{
	font-size:16px;
	margin-bottom:10px;
	margin-top:5px;
	display:block;
}
