<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 公司媒体 <span class="c-gray en">&gt;</span> 公司媒体 <span class="c-gray en">&gt;</span> 添加媒体
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:;history.go(-1)" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">标题</th>
            <td><input type="text" id="title" value="{$arr.title}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">摘要</th>
            <td><textarea id="description" style="max-width:508px;min-width:508px;height:100px">{$arr.description}</textarea></td>
        </tr>
        <tr>
            <th class="text-r" width="100">内容</th>
            <td><div style="width:1200px"><textarea id="content" style="min-height:600px;" name="text">{$arr.text}</textarea></div></td>
        </tr>
        
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<input type="hidden" value="{$arr.id}" class="id">
<script src='__PUBLIC__/admin/js/news_add.js'></script>
<script>
    $('#menu-list7').attr('class','selected');
    $('#menu-list7 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />