<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 公司媒体 <span class="c-gray en">&gt;</span> 公司媒体
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <span class="l">
        <a href="{:U('News/add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加新闻</a>
    </span>
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>标题</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td>{$val.title}</td>
                        <td class="f-14">
                            <a title="编辑" href="{:U('News/edit',array('id'=>$val['id']))}"><i class="icon-edit"></i></a>&nbsp;&nbsp;
                            <a title="删除" href="javascript:;" class="del" index="{$val['id']}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <div id="pageNav" class='pageNav'>{$page}</div>
    </div>
</div>
<script src='__PUBLIC__/admin/js/news_index.js'></script>
<script>
    $('#menu-list7').attr('class','selected');
    $('#menu-list7 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />