<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 联系我们 <span class="c-gray en">&gt;</span> 联系我们
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">公司名称</th>
            <td><input type="text" id="company" value="{$arr['company']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">地址</th>
            <td><input type="text" id="addr" value="{$arr['addr']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">电话</th>
            <td><input type="text" id="tel" value="{$arr['tel']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">传真</th>
            <td><input type="text" id="fax" value="{$arr['fax']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">邮箱</th>
            <td><input type="text" id="email" value="{$arr['email']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">总经理</th>
            <td><input type="text" id="name" value="{$arr['name']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">电话</th>
            <td><input type="text" id="tel2" value="{$arr['tel2']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">QQ</th>
            <td><input type="text" id="qq" value="{$arr['qq']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">邮箱</th>
            <td><input type="text" id="email2" value="{$arr['email2']}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<js href='__PUBLIC__/admin/js/contact_index.js' />
<script>
    $('#menu-list8').attr('class','selected');
    $('#menu-list8 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />