<include file="Public:header" />
<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/banner3.jpg" alt="" />
			<div class="font font3">
				<div class="f1"><img src="__PUBLIC__/index/img/b-font3.png" alt="" /></div>
				<div class="f4">换热器管板 法兰 锻件 专业制造厂家</div>
				<ul>
					<li><img src="__PUBLIC__/index/img/b-icon1.png" alt="" /><p>品质保证</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon2.png" alt="" /><p>优质材料</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon3.png" alt="" /><p>专业制造</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon4.png" alt="" /><p>规格多样</p></li>
					<li><img src="__PUBLIC__/index/img/b-icon5.png" alt="" /><p>库存充足</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>产品中心</span>
	</div>
	<div class="proCenter">
		<div class="left">
			<div class="t">产品中心</div>
			<ul>
				<li class="on"><a href="#">管板</a></li>
				<li><a href="#">法兰</a></li>
				<li><a href="#">凸缘</a></li>
				<li><a href="#">锻件</a></li>
				<li><a href="#">堆焊管板</a></li>
				<li><a href="#">折流板</a></li>
				<li><a href="#">异型法兰</a></li>
				<li><a href="#">异形锻件</a></li>
			</ul>
		</div>
		<div class="right">
			<ul class="proList">
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro1.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro2.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro3.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro4.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro5.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro6.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro7.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro8.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
				<li>
					<a href="产品展示-1.html">
						<div class="img">
							<img src="__PUBLIC__/index/img/pro8.png" alt="" />
						</div>
						<p>活套法兰</p>
					</a>
				</li>
			</ul>
			<div class="pages right">
				<a href="#" class="disabled">上一页</a>
				<span class="current">1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				...
				<a href="#">10</a>
				<a href="#">下一页</a>
			</div>
		</div>
	</div>

</div>

<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	new Swiper('.banner', {
		resistanceRatio:0,
		autoplay: false,
		on:{
			init:function(swiper){
				slide=this.slides.eq(0);
				slide.addClass('ani-slide');
			},
			transitionStart: function(){
				for(i=0;i<this.slides.length;i++){
					slide = this.slides.eq(i);
					slide.removeClass('ani-slide');
				}
			},
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
				slide.addClass('ani-slide');

			},
		}
	});
</script>
<include file="Public:footer" />