<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="proNav">
	<span>{$lang->index('23')}<em></em></span>
	<span>{$lang->index('24')}<em></em></span>
	<span>{$lang->index('25')}<em></em></span>
</div>
<div class="proItem">
	<div class="proItema">
		<foreach name="Classify" item="val">
			<if condition="$val[type] eq 1">
				<a href="{:U('Product/index',array('pid'=>$val['id'],'type'=>1))}" class="a{$val['id']}">{$val.title}</a>
			</if>
		</foreach>
	</div>
	<div class="proItema">
		<foreach name="Classify" item="val">
			<if condition="$val[type] eq 2">
				<a href="{:U('Product/index',array('pid'=>$val['id'],'type'=>2))}" class="a{$val['id']}">{$val.title}</a>
			</if>
		</foreach>
	</div>
	<div class="proItema">
		<foreach name="Classify" item="val">
			<if condition="$val[type] eq 3">
				<a href="{:U('Product/index',array('pid'=>$val['id'],'type'=>3))}" class="a{$val['id']}">{$val.title}</a>
			</if>
		</foreach>
	</div>
</div>
<div class="proMain">
	<foreach name="arr" item="val">
		<div class="pro">
			<div class="name">{$val.title}</div>
			<div class="main">
				<p>{$val['text']}</p>
			</div>		
		</div>
	</foreach>
</div>
<include file="Public:wap_footer" />
<input type="hidden" value="<?php echo I('get.pid') ?>" class="pid">
<input type="hidden" value="<?php echo I('get.type') ?>" class="type">
<script>
	new Swiper('.Team', {
	 	pagination: {
	    	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
	new Swiper('.environment', {
	  	pagination: {
	   	 	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
	$('.proNav span').click(function(){
		var index = $(this).index();
		if($(this).hasClass('on')){		
			$('.proNav span').removeClass('on');
			$('.proItema').removeClass('on');
		}else{
			$('.proNav span').removeClass('on');
			$(this).addClass('on');
			$('.proItema').removeClass('on');
			$('.proItema').eq(index).addClass('on');
		}
	})

	if($('.type').val() != ''){
		$('.proNav span').removeClass('on');
		$('.proItema').removeClass('on');

		if($('.type').val()==1){
			$('.proNav span').eq(0).addClass('on');
			$('.proItema').eq(0).addClass('on');
		}else if($('.type').val()==2){
			$('.proNav span').eq(1).addClass('on');
			$('.proItema').eq(1).addClass('on');
		}else if($('.type').val()==3){
			$('.proNav span').eq(2).addClass('on');
			$('.proItema').eq(2).addClass('on');
		}

		$('.a'+$('.pid').val()).css({'color':'#1769a5'});
	}
</script>