<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 应用领域 <span class="c-gray en">&gt;</span> 应用领域
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="{:U('Field/index')}" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <foreach name="arr" item="val" k="key">
            <tr>
                <th class="text-r" width="100"><input type="text" id="title{$key+1}" value="{$val.title}" style="width:100px" class="input-text"></th>
                <td><textarea id="text{$key+1}" style="max-width:508px;min-width:508px;height:150px">{$val.text}</textarea></td>
            </tr>
        </foreach>
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<script src='__PUBLIC__/admin/js/field_classify.js'></script>

<script>
    $('#menu-list6').attr('class','selected');
    $('#menu-list6 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />