<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 应用领域 <span class="c-gray en">&gt;</span> 应用领域
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="{:U('Field/index')}" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <span class="l"><a href="{:U('Field/add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加应用</a></span>
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>栏目</th>
                    <th>标题</th>
                    <th>图片</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td>
                            <?php 
                                switch ($val['type']) {
                                    case '1':echo '石油石化行业';break;
                                    case '2':echo '锅炉行业';break;
                                    case '3':echo '石油炼化工程';break;
                                    case '4':echo '工程机械';break;
                                    case '5':echo '电力及输送工程';break;
                                    case '6':echo '矿山冶金';break;
                                    case '7':echo '核电工程';break;
                                    case '8':echo '造船工程';break;
                                }
                            ?>
                        </td>
                        <td>{$val.title}</td>
                        <td><img src="__UPLOADS__/img{$val.img}" alt="" style="width:100px"></td>
                        <td class="f-14">
                            <a title="编辑" href="{:U('Field/edit',array('id'=>$val[id]))}"><i class="icon-edit"></i></a>&nbsp;&nbsp;
                            <a title="删除" href="javascript:;" class="del" index="{$val['id']}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</div>
<script src='__PUBLIC__/admin/js/field_index.js'></script>
<script>
    $('#menu-list6').attr('class','selected');
    $('#menu-list6 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />