<include file="Public:header" />
<include file="Public:header_next" />
<div class="slideBox-inner" style="background:url(img/about1.jpg) no-repeat center center;background-size:cover;">
	<div class="font animated fadeInUp">
		<div class="p"><span>科技领先</span><span>质量第一</span><span>用户至上</span></div>
		<p>Science and technology leading</p>
		<p>Quality first</p>
		<p>Customer first</p>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>联系我们</span>
	</div>
	<div class="contactWapper">
		<div class="left">
			<div class="name">公司总部</div>
			<div class="add">山西省定襄县崔家庄工业区</div>
			<p><span>邮编</span>：035400</p>
			<p><span>传真</span>：0350-3322998</p>
			<p><span>邮箱</span>：hsx@sx-ruide.com</p>
			<p><span>联系电话</span>：13935035615（郝）</p>
		</div>
		<div class="right">
			<div style="width:100%;height:100%;" id="dituContent"></div>
		</div>
	</div>

</div>

<script>
	$('.nav').find('li').eq(5).attr('class','on');
</script>
<include file="Public:footer" />
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(112.976535,38.520237);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
                        }
    
    
    initMap();//创建和初始化地图
</script>