<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="map">
	<div style="width:100%;height:100%;" id="dituContent"></div>
</div>
<div class="address">
	<div class="top">
		<div class="name">{$Contact.company}</div>
		<div class="add">{$lang->index('9')}：{$Contact.addr}</div>
		<p><span>{$lang->index('6')}：</span>{$Contact.tel}</p>
		<p><span>{$lang->index('7')}：</span>{$Contact.fax}</p>
		<p><span>{$lang->index('8')}：</span>{$Contact.email}</p>
		<p><span>{$lang->index('9')}：</span>{$Contact.addr}</p>
	</div>
	<div class="bottom">
		<strong>{$lang->index('29')}</strong>
		<p>{$Contact.name}</p>
		<p>{$lang->index('6')}：{$Contact.tel2}</p>
		<p>{$lang->index('8')}：{$Contact.email2}</p>
		<p>QQ：{$Contact.qq}</p>
	</div>
</div>
<include file="Public:wap_footer" />
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(112.976535,38.520237);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
                        }
    
    
    initMap();//创建和初始化地图
</script>