@charset "utf-8";
/* 
 * Made by myy
 * 2018-12-05
*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
body{margin:0;font:12px/1.5 \5FAE\8F6F\96C5\9ED1,Arial,sans-serif;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
progress{vertical-align:baseline}
[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration: none;}
a:active,a:hover{outline-width:0;text-decoration:none}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
dfn{font-style:italic}
h1,h2,h3,h4,h5,h6{font-size: 100%}
ul,ol,li{list-style:none}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
svg:not(:root){overflow:hidden}
input,label,img,th{vertical-align:middle;outline:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0;color: inherit;}
optgroup{font-weight:700}
button,input{overflow:visible}
button,select{text-transform:none}
table{border-collapse:collapse;border-spacing:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{clear:both;content:' ';display:block;width: 0;height: 0;visibility:hidden;}

/*start*/
html,body{
	width:100%;
	max-width:700px;
	margin:0 auto;
	font-size:100px;
}
.m-center{
	width:96%;
	margin:0 auto;
}
.headerBox{
	height:0.5rem;	
}
.headerBox .logo{
	width:48%;
	height:0.5rem;	
	float:left;
	text-align: center;
	line-height:0.5rem;
	margin-left:2%;
}
.headerBox .logo a{
	display:block;
	font-size:0;
	width:100%;
	height:100%;
	text-align: left;
}
.headerBox .logo img{
	max-width:80%;
	max-height:80%;
}
.headerBox .language{
	font-size:0.14rem;
	width:0.5rem;
	height:0.5rem;	
	line-height:0.5rem;
	float:right;
	text-align: center;
}

.headerBox .search-box{
	width:0.5rem;
	height:0.5rem;
	float:right;
	background:url(../img/search.png) no-repeat center center;
	background-size:0.2rem;
	margin-right:0.1rem;
}
.headerBox .nav{
	width:30px;
	height:30px;
	float:right;
	position:relative;
	top:50%;
	margin-top:-15px;
	right:2%;
}
.headerBox .nav .top-line,
.headerBox .nav .middle-line,
.headerBox .nav .bottom-line{
	width:22px;
	height:2px;
	background:#000;
	border-radius:2px;
	position:absolute;
	left:50%;
	margin-left:-11px;
	top:0;
	-webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.headerBox .nav .top-line{
	top:7px;
}
.headerBox .nav .middle-line{
	top:14px;
}
.headerBox .nav .bottom-line{
	top:21px;
}
.headerBox .nav.check{
	z-index:1002;
	position:fixed;
	top:25px;
}
.headerBox .nav.check .top-line{
	-webkit-transform: translateY(7px) rotate(45deg);
	-moz-transform: translateY(7px) rotate(45deg);
	-ms-transform: translateY(7px) rotate(45deg);
	-o-transform: translateY(7px) rotate(45deg);
	transform: translateY(7px) rotate(45deg);
	background:#fff;
}
.headerBox .nav.check .middle-line{
	opacity:0;
}
.headerBox .nav.check .bottom-line{
	-webkit-transform: translateY(-7px) rotate(-45deg);
	-moz-transform: translateY(-7px) rotate(-45deg);
	-ms-transform: translateY(-7px) rotate(-45deg);
	-o-transform: translateY(-7px) rotate(-45deg);
	transform: translateY(-7px) rotate(-45deg);
	background:#fff;
}

#overlayNav {
	display:none;
  position: fixed;
  z-index: 1001;
  width: 100%;
  max-width:700px;
  height: 100%;
  text-align: left;
  overflow: auto;
  background-color: rgba(0,0,0,.97);
  -webkit-transition: opacity .14s 0s ease-in-out,visibility 0s .14s linear;
  -moz-transition: opacity .14s 0s ease-in-out,visibility 0s .14s linear;
  -ms-transition: opacity .14s 0s ease-in-out,visibility 0s .14s linear;
  -o-transition: opacity .14s 0s ease-in-out,visibility 0s .14s linear;
  transition: opacity .14s 0s ease-in-out,visibility 0s .14s linear;
}
#overlayNav #mobileNavWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10% 0;
  display: table;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
#overlayNav #mobileNavWrapper .navitem{
  display: table-cell;
  vertical-align: middle;
}
#overlayNav #mobileNavWrapper .navitem li {
	width:100%;
  text-align: center;   
  font-size:0;
  height:0.5rem;
  line-height:0.5rem;
}

#overlayNav .navitem a{
	display:block;
	width:100%;
	height:100%;
  font-size: 0.20rem;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
}
.search {
	width:98%;
	height:0.4rem;
	padding:1%;
	background:#f3f3f3;
	display:none;
	z-index:999;
}
.search .search-input{
	width:100%;
	height:100%;
	background:#fff;
	font-size:0.14rem;
	display:flex;
}
.search input.ipt{
	border:none;
	height:100%;
	outline:none;
	padding:0 10px;
	flex:1;
}
.search input.tj{
	background:url(../img/btn.png) no-repeat center center;
	background-size:0.2rem;
	border:none;
	flex:0 0 0.4rem;
	width:0.4rem;
	height:0.4rem;
	outline:none;
}
.Banner{
	width:100%;
}
.Banner .swiper-slide{
	position:relative;
}
.Banner .swiper-slide img{
	display:block;
	width:100%;
}
.Banner .swiper-slide > img{ 
	min-height:150px;
}
.Banner .swiper-slide .font{
	width:80%;
	position:absolute;
	left:10%;
	text-align: center;
	top:15%;
	font-size:0.12rem;
	color:#fff;
}
.Banner .swiper-slide .font2{
	margin:0.1rem 0 0.1rem;
	font-size:0.12rem;
	color:#fff;
	text-transform: uppercase;
}
.Banner .swiper-slide .font img{
	max-width:80%;
	margin:0 auto;
}
.Banner .swiper-pagination{
	width:100%;
	bottom:0.1rem;
	height:8px;
	font-size:0;
}
.Banner .swiper-pagination-bullet{
	background:#a6b0b9;
	opacity:1;
}
.Banner .swiper-pagination-bullet-active{
	background:#fff;
}

.indexWapper1{
	padding:5% 5%;
}
.indexWapper1 .title{
	font-size:0.18rem;
	text-align: center;
}
.indexWapper1 p{
	font-size:0.14rem;
	color:#999999;
	line-height:0.24rem;
	text-align: justify;
	margin-top:3%;
}
.indexWapper1 a{
	display:block;
	width:46%;
	height:0.34rem;
	line-height:0.34rem;
	font-size:0.14rem;
	text-transform: uppercase;
	color:#fff;
	background:#1769a5;
	margin:5% auto;
	padding:0 2%;
}
.indexWapper1 a i{
	display:block;
	font-style:normal;
	float:right;
}
.indexWapper1 img{
	display:block;
	width:100%;
}
.indexWapper2{
	padding:5% 5%;
	background:#1769a5;	
}
.indexWapper2 .title{
	font-size:0.18rem;
	text-align: center;
	color:#fff;
}
.indexWapper2-Box{
	position:relative;
	margin:5% auto;
}
.swiper-container.pro{
	width:80%;
}
.swiper-container.pro .swiper-slide .img{
	display:block;
	width:1.5rem;
	height:1.5rem;
	margin:0 auto;
}
.swiper-container.pro .swiper-slide .img img{
	display:block;
	max-width:100%;
	max-height:100%;
	margin:0 auto;
}
.swiper-container.pro .swiper-slide p{
	font-size:0.16rem;
	text-align: center;
	color:#fff;
	margin-top:0.2rem;
}

.indexWapper2-Box .swiper-button-prev{
 	background:url(../img/left.png) no-repeat center center;
 	background-size:100%;
 	opacity:1;
 	outline:none;
}
.indexWapper2-Box .swiper-button-next{
	background:url(../img/right.png) no-repeat center center;
	background-size:100%;
	opacity:1;
	outline:none;
}
.indexWapper2 .more{
	display:block;
	width:1.4rem;
	height:0.34rem;
	line-height:0.34rem;
	background:#fff;
	color:#444;
	font-size:0.14rem;
	margin:5% auto;
	text-align: center;
	text-transform: uppercase;
}

.indexWapper3{
	padding:5% 0;
}
.indexWapper3 .title{
	font-size:0.18rem;
	text-align: center;
	color:#333;
}
.swiper-container.Project{
	margin:5% 0 0;
}
.swiper-container.Project .swiper-slide img{
	display:block;
	width:100%;
}
.swiper-container.Project .swiper-slide .font{
	padding:0.2rem 5% 0;
	font-size:0.14rem;
	/*height:0.72rem;*/
}
.swiper-container.Project .swiper-slide .font .name{
	font-weight:bold;
	font-size:0.16rem;
	height:0.22rem;
	overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align:center;
}
.swiper-container.Project .swiper-slide .font p{
	margin-top:2%;
	line-height:0.2rem;
	height:0.4rem;
	overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Project .swiper-pagination{
	width:100%;
	bottom:1rem;
	height:8px;
	font-size:0;
}
.Project .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
}
.Project .swiper-pagination-bullet-active{
	background:#328dcd;
}
.indexWapper4{
	padding:5% 0;
	background:#f3f3f3;
}
.indexWapper4 .title{
	font-size:0.18rem;
	text-align: center;
	color:#333;
}
.swiper-container.Horner{
	margin:5% 0 0;
}
.swiper-container.Horner .swiper-slide{
	width:1.7rem;
}
.swiper-container.Horner .swiper-slide img{
	display:block;
	width:100%;
}
.swiper-container.Horner .swiper-slide p{
	font-size:0.16rem;
	text-align: center;
	color:#666;
	margin-top:0.2rem;
}
.footerWapper{
	padding:5% 5%;
	font-size:0.12rem;
	color:#fff;
	background:#3a3a3a;
}
.footerWapper ul li {
	padding:0.05rem 0;
	overflow:hidden;
}
.footerWapper ul li span{
	display:block;
	width:100%;
	float:left;
	font-size:0.14rem;
}
.footerWapper ul li em{
	display:block;
	width:100%;
	font-style:normal;
}
.footerWapper p{
	color:#666;
	text-align: center;
	margin-top:5%;
}

/*关于我们*/
.slideBox-inner{ 
	width:100%;
	height:1.6rem;
	overflow:hidden; 
	position:relative;
}
.slideBox-inner .font{
	width:90%;
	position:absolute;
	top:0.3rem;
	left:5%;
}
.slideBox-inner .font .p{
	color:#fff;
	font-size:0.16rem;	
	margin-bottom:0.1rem;
}
.slideBox-inner .font .p span{
	margin-right:0.2rem;
}
.slideBox-inner .font p{
	font-size:0.12rem;
	color:#fff;
	text-transform: uppercase;
	line-height:0.2rem;
}
.aboutWapper1{
	background:#3274be;
	margin-top:2%;
}
.aboutWapper1 img{
	display:block;
	width:100%;
}
.aboutWapper1 .main{
	padding:5% 5%;
	font-size:0.14rem;
	color:#fff;
	text-align: justify;
	line-height:0.26rem;
}
.aboutWapper1 .main p{
	text-indent:2em;
}
.swiper-container.Team{
	margin:5% 0 0;
}
.swiper-container.Team .swiper-slide img{
	display:block;
	width:100%;
}
.Team .swiper-pagination{
	width:100%;
	bottom:0.1rem;
	height:8px;
	font-size:0;
}
.Team .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
}
.Team .swiper-pagination-bullet-active{
	background:#328dcd;
}

.swiper-container.environment{
	margin:5% 0 0;
}
.swiper-container.environment .swiper-slide img{
	display:block;
	width:100%;
}
.environment .swiper-pagination{
	width:100%;
	bottom:0.1rem;
	height:8px;
	font-size:0;
}
.environment .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
}
.environment .swiper-pagination-bullet-active{
	background:#328dcd;
}
.about3{
	padding:5% 0 0 0;
}
/*产品*/
.proNav{
	width:100%;
	height:0.5rem;
	line-height:0.5rem;
	display:flex;
	border-bottom:1px #c2c2c2 solid;
}
.proNav span{
	flex:1;
	font-size:0.14rem;
	text-align: center;
}
.proNav span em{
	display:inline-block;
	width:0.08rem;
	height:0.08rem;
	background:url(../img/down.png) no-repeat center center;
	background-size:100%;
	margin-left:0.05rem;
	margin-top:-0.04rem;
}
.proNav span.on{
	color:#1769a5;
}
.proNav span.on em{
	background:url(../img/down1.png) no-repeat center center;
	background-size:100%;
}
.proItema{
	display:none;
	overflow: hidden;
	border-bottom:1px #c2c2c2 solid
}
.proItema.on{
	display:block;
}
.proItema a{
	width:25%;
	height:0.4rem;
	line-height:0.4rem;
	text-align: center;
	display:block;
	float:left;
	font-size:0.14rem;
	color:#333;
}
.proMain{
	padding:5%;
	font-size:0.14rem;
}
.proMain .name{
	padding:0 5%;
	height:0.4rem;
	line-height:0.4rem;
	background:#1769a5;
	font-size:0.16rem;
	font-weight:bold;
	color:#fff;
	margin-top:2%;
}
.proMain .main{
	padding:5%;
}
.proMain p{	
	color:#666;
	line-height:0.3rem;
}
.proMain p.grey{
	color:#999;
	line-height:0.24rem;
}

/*应用领域*/
.yySelect{
	padding:4% 5%;
	background:#edeef3;
}
.yySelect .select{
	text-align: center;
	height:0.4rem;
	line-height:0.4rem;
	font-size:0.14rem;
	background:#fff;
	border:1px #cfcfcf solid;	
	position:relative;
}
.yySelect .select ul{
	padding:2% 0;
	position:absolute;
	width:100%;
	background:#fff;
	top:0.42rem;
	left:-1px;
	border:1px #cfcfcf solid;
	z-index:999;
	display:none;
}
.yySelect .select ul li a{
	color:#333;
	display:block;
}
.yySelect .select p{
	color:#333;
	display:block;
	background:url(../img/down2.png) #fff no-repeat 95% center;
	background-size:0.14rem;
}
.yyWapper .top{
	padding:5% 5% 0;
}
.yyWapper .top .title{
	overflow:hidden;
}
.yyWapper .top .title span{
	font-size:0.24rem;
	color:#2a6bb4;
	display:block;
	float:left;
	/*height:0.3rem;*/
	line-height:0.3rem;
	width:100%;
}
.yyWapper .top .title em{
	font-style:normal;
	font-size:0.12rem;
	color:#fff;
	display:block;
	float:right;
	background:#2a6bb4;
	font-weight:bold;
	padding:0 0.05rem;
	height:0.2rem;
	line-height:0.2rem;
	margin-top:0.08rem;
}
.yyWapper .top .desc{
	background:#2a6bb4;
	color:#fff;
	line-height:0.24rem;
	font-size:0.12rem;
	margin-top:5%;
	padding:0.05rem 0.1rem;
	text-align: justify;
	text-indent:2em;
}
.swiper-container.Yingy{
	margin:5% 0;
}
.swiper-container.Yingy .swiper-slide img{
	display:block;
	width:100%;
}
.swiper-container.Yingy .swiper-slide p{
	text-align: center;
	font-size:0.14rem;
	height:0.5rem;
	line-height:0.5rem;
}
.Yingy .swiper-pagination{
	width:100%;
	bottom:0.6rem;
	height:8px;
	font-size:0;
}
.Yingy .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
}
.Yingy .swiper-pagination-bullet-active{
	background:#328dcd;
}

/*技术实力*/
.swiper-container.Jshu{
	margin:5% 0 0;
}
.swiper-container.Jshu .swiper-slide{
	position:relative;
}
.swiper-container.Jshu .swiper-slide img{
	display:block;
	width:100%;
}
.swiper-container.Jshu .swiper-slide .title{
	position:absolute;
	bottom:0;
	text-align:center;
	background:rgba(0,0,0,0.6);
	color:#fff;
	width:100%;
	height:0.34rem;
	line-height:0.34rem;
	font-size:0.14rem;
}
.Jshu .swiper-pagination{
	width:100%;
	bottom:0.4rem;
	height:8px;
	font-size:0;
}
.Jshu .swiper-pagination-bullet{
	background:#fff;
	opacity:1;
}
.Jshu .swiper-pagination-bullet-active{
	background:#328dcd;
}
.indexWapper3.about3.last{
	margin-bottom:10%;
}

/*公司媒体*/
.newsWapper{
	padding:0 5%;
}
.newsWapper ul li{
	border-bottom:1px #ededed solid;
	padding:0.15rem 0;
	font-size:0.16rem;
}
.newsWapper ul li .title{
	color:#333;
	line-height:0.24rem;
}
.newsWapper ul li span{
	color:#999;
	font-size:0.12rem;
}
.pages{
	text-align: center;
	width:80%;
	margin:10% auto;
	overflow:hidden;
}
.pages .num,.pages .current{
	display:none;
}
.pages a,.pages span{
	display:block;
	width:40%;
	height:0.34rem;
	line-height:0.34rem;
	float:left;
	background:#2561a4;
	color:#fff;
	font-size:0.14rem;
}
.pages a.next{
	float:right;
}

/*新闻详情*/
.newsWapperMain{
	padding:0 5% 10%;
}
.newsWapperMain .mainTitle{
	font-size:0.18rem;
	line-height:0.26rem;
	color:#494950;
	margin:0.1rem 0;
}
.newsWapperMain .desc{
	font-size:0.12rem;
	color:#83838f;	
}
.newsWapperMain .desc span{
	padding-right:0.1rem;
}
.newsWapperMain .main{
	color:#4c4c56;
	font-size:0.14rem;
	line-height:0.26rem;
	margin:0.3rem 0;
}
.newsWapperMain .main p{
	text-indent:2em;
	padding:0.05rem 0;
}
.newsWapperMain .relative{
	border-top:1px #cbcbcb solid;
}
.newsWapperMain .relative .t{
	font-weight:bold;
	font-size:0.16rem;
	color:#4c4c56;
	margin:0.3rem 0;
	text-transform: uppercase;
}
.newsWapperMain .relative ul li a{
	display:block;
	font-size:0.14rem;
	color:#4c4c56;
	padding:0.05rem 0;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
}
/*联系我们*/
.map{
	width:100%;
	height:300px;
}
.address{
	padding:5%;
}
.address .name{
	color:#4c4c56;
	font-size:0.2rem;
}
.address .add{
	color:#4c4c56;
	font-size:0.16rem;
	margin:5% 0;
}
.address p{
	color:#333;
	font-size:0.14rem;
	padding:0.05rem 0;
}
.address p span{
	display:block;
	width:100%;
	font-weight:bold;
}
.address .bottom{
	margin-top:0.5rem;
}
.address .bottom strong{
	display:block;
	font-size:0.16rem;
	margin-bottom:0.1rem;
}
@media screen and (max-width:350px) {

}

@media screen and (max-height:570px) {

}




















