<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 产品中心 <span class="c-gray en">&gt;</span> 产品中心 <span class="c-gray en">&gt;</span>分类
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="{:U('Product/index')}" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <span class="l">
        <a href="{:U('Product/classify_add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加分类</a>
        <select name="" id="type" class='select' style="margin-left:10px;margin-top:-10px">
            <option value="0">全部</option>
            <option value="1">标准法兰</option>
            <option value="2">锻件</option>
            <option value="3">非标准法兰</option>
        </select>
    </span>
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>名称</th>
                    <th>图片</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                <tr class="text-c">
                    <td>{$val.title}</td>
                    <td><img src="__UPLOADS__/img{$val.img}" alt="" style="width:100px" onerror="this.src='__PUBLIC__/admin/img/error.png'"></td>
                    <td class="f-14">
                        <a title="编辑" href="{:U('Product/classify_edit',array('id'=>$val['id']))}"><i class="icon-edit"></i></a>&nbsp;&nbsp;
                        <a title="删除" href="javascript:;" class="del" index="{$val['id']}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
                </foreach>
            </tbody>
        </table>
        <div id="pageNav" class='pageNav'>{$page}</div>
    </div>
</div>
<input type="hidden" value="<?php echo I('get.type') ?>" class="type">
<script src='__PUBLIC__/admin/js/product_classify.js'></script>
<script>
    $('#menu-list4').attr('class','selected');
    $('#menu-list4 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />