<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 产品中心 <span class="c-gray en">&gt;</span> 产品中心
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>类目</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>分类</td>
                    <td class="f-14">
                        <a title="编辑" href="{:U('Product/classify')}" style="margin-right:7px;margin-left:10px"><i class="icon-edit"></i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td>详情</td>
                    <td class="f-14">
                        <a title="编辑" href="{:U('Product/product')}" style="margin-right:7px;margin-left:10px"><i class="icon-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#menu-list4').attr('class','selected');
    $('#menu-list4 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />