<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 产品中心 <span class="c-gray en">&gt;</span> 产品中心 <span class="c-gray en">&gt;</span> 内容 <span class="c-gray en">&gt;</span> 添加内容
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:;history.go(-1)" title="后退" ><i class="icon-arrow-left"></i></a>
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">大分类</th>
            <td>
                <select name="" id="type" class="select">
                    <option value="1">标准法兰</option>
                    <option value="2">锻件</option>
                    <option value="3">非标准法兰</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">小分类</th>
            <td>
                <select name="" id="type2" class="select">
                    <foreach name="brr" item="val">
                        <option value="{$val.id}">{$val.title}</option>
                    </foreach>
                </select>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">标题</th>
            <td><input type="text" id="title" value="{$arr.title}" style="width:500px" class="input-text"></td>
        </tr>
        <tr>
            <th class="text-r" width="100">内容</th>
            <td><textarea id="text" style="max-width:508px;min-width:508px;height:200px">{$arr.text}</textarea></td>
        </tr>
        
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<input type="hidden" value="{$arr.type}" class="type">
<input type="hidden" value="{$arr.type2}" class="type2">
<input type="hidden" value="{$arr.id}" class="id">
<script src='__PUBLIC__/admin/js/product_add.js'></script>
<script>
    var admin_tou=$('#admin_tou').val();
    var urls=$('#app').val();

    function file(){
        if ($("#img").val().length > 0) {
            ajaxFileUpload();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/img', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.img').remove();
                    var zhi="<img src="+urls+'/Uploads/img'+data+" class='img' style='float:left;margin:3px 5px 0 0;width:200px;'>";
                    $('#iimg1').val(data);
                    $('.golo').html(zhi);

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
    var text= document.getElementById("text").innerHTML;
    for(var i=0;i<=10;i++){
        text=text.replace("&lt;br /&gt;"," ");
    }
    $('#text').val(text);
</script>
<script>
    $('#menu-list4').attr('class','selected');
    $('#menu-list4 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />