<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 技术实力 <span class="c-gray en">&gt;</span> 技术实力
</nav>
<div class="pd-20 text-c" style="padding-top:0px">
    <span class="l">
        <a href="{:U('Tech/add')}" class="btn btn-primary radius" style="margin-bottom:10px"><i class="icon-plus"></i> 添加技术</a>
        <select name="" id="type" class='select' style="margin-left:10px;margin-top:-10px">
            <option value="0">全部</option>
            <option value="1">生产设备</option>
            <option value="2">检测设备</option>
            <option value="3">无损设备</option>
        </select>
    </span>
    <div class="article-class-list cl mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr class="text-c">
                    <th>标题</th>
                    <th>图片</th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="arr" item="val">
                    <tr class="text-c">
                        <td>{$val.title}</td>
                        <td><img src="__UPLOADS__/img{$val.img}" alt="" style="width:100px"></td>
                        <td class="f-14">
                            <a title="编辑" href="{:U('Tech/edit',array('id'=>$val[id]))}"><i class="icon-edit"></i></a>&nbsp;&nbsp;
                            <a title="删除" href="javascript:;" class="del" index="{$val['id']}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" value="<?php echo I('get.type') ?>" class="type">
<script src='__PUBLIC__/admin/js/tech_index.js'></script>
<script>
    $('#menu-list5').attr('class','selected');
    $('#menu-list5 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />