<include file="Public:header" />
<include file="Public:header_next" />
<link rel="stylesheet" href="__PUBLIC__/index/css/swiper.min.css">
<script src="__PUBLIC__/index/js/swiper-4.1.6.min.js"></script>

<div class="index-content">
	<div class="catpos">
		<a href="{:U('/')}" class="home">{$lang->index('20')}</a><em>></em>
		<a href="">{$title}</a>
	</div>
	<div class="sub-content1">
		<div class="content-title blue">
			<h2>PROJECT CASE</h2>
			<h3>{$lang->index('34')}</h3>
		</div>
		<div class="sub-content1-main">
			<ul>
				<foreach name="Next" item="val" k="key">
					<if condition="$key % 2 eq 0">
						<li class="li{$key+1} huan" aos="fade-up" aos-duration="800" aos-delay="400" index="{$val.id}"><a href="javascript:;"><span></span><p>{$val.title}</p><em>0{$key+1}</em></a></li>
					<else />
						<li class="li{$key+1} huan" aos="fade-down" aos-duration="800" aos-delay="400" index="{$val.id}"><a href="javascript:;"><span></span><p>{$val.title}</p><em>0{$key+1}</em></a></li>
					</if>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="sub-content2">
		<div class="sub2-top">
			<div class="sub2-lf">
				<p id="ty">{$Next.0.title}</p>
				<span>RUIDE CASE</span>
			</div>
			<div class="sub2-rg">
				{$Next.0.text}
			</div>
		</div>
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		    	<foreach name="Field" item="val">
		    		<if condition="$val[type] eq 1">
				      	<div class="swiper-slide">
					      	<div class="img"><img src="__UPLOADS__/img{$val.img}" alt="" /></div>
					      	<div class="title">{$val.title}</div>
				      	</div>
				    </if>
				</foreach>
		    </div>
		    <!-- Add Pagination -->
		    <div class="swiper-pagination"></div>
		    <!-- Add Arrows -->
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
	  	</div>
	</div>
</div>
<!-- <js href="__PUBLIC__/index/js/field_index.js" /> -->
<include file="Public:footer" />
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
	var swiper = new Swiper('.swiper-container', {
	 	effect:'fade',
	    slidesPerView: 1,
	    // autoHeight: true,
	    pagination: {
      		el: '.swiper-pagination',
      		clickable: true,
    	},
    	navigation: {
      		nextEl: '.swiper-button-next',
      		prevEl: '.swiper-button-prev',
    	},
  	});

  	$('.nav').find('li').eq(3).attr('class','on');

  	var app=$('#app').val();

	$('.huan').click(function(){
		var id=$(this).attr('index');
		$.ajax({
			type:'POST',
			url:app+'/Field/find',
			data:{id:id},
			dataType:'json',
			success:function(data){
				if(data.code == 'ok'){
					$('.swiper-wrapper').html(data.img);
					$('#ty').text(data.title);
					$('.sub2-rg').text(data.text);
					var swiper = new Swiper('.swiper-container', {
					 	effect:'fade',
					    slidesPerView: 1,
					    // autoHeight: true,
					    pagination: {
				      		el: '.swiper-pagination',
				      		clickable: true,
				    	},
				    	navigation: {
				      		nextEl: '.swiper-button-next',
				      		prevEl: '.swiper-button-prev',
				    	},
				  	});
				}
			}
		})
	})
</script>