<include file="Public:wap_header" />
<include file="Public:wap_header_next" />
<div class="yySelect">
	<div class="select">
		<p>{$Next.0.title}</p>		
		<ul>
			<foreach name="Next" item="val" k="key">
				<li class="li{$key+1} huan" index="{$val.id}"><a href="javascript:;">{$val.title}</a></li>
			</foreach>
		</ul>
	</div>		
</div>
<div class="yyWapper">
	<div class="top">
		<div class="title">
			<span id="ty">{$Next.0.title}</span>
			<em>RUIDE CASE</em>
		</div>
		<div class="desc">
			{$Next.0.text}
		</div>
	</div>
	<div class="bottom">
		<div class="swiper-container Yingy">
		  	<div class="swiper-wrapper">
		    	<foreach name="Field" item="val">
		    		<if condition="$val[type] eq 1">
				      	<div class="swiper-slide">
				      		<img src="__UPLOADS__/img{$val.img}" alt="" />
				      		<p>{$val.title}</p>
				      	</div>
				    </if>
				</foreach>
		  	</div>
		  	<!-- Add Pagination -->
		  	<div class="swiper-pagination"></div>
		</div>
	</div>
</div>
<include file="Public:wap_footer" />
<script>
	var swiper = new Swiper('.Yingy', {
		observer:true,
  		observeParents:true,

	  	pagination: {
	    	el: '.swiper-pagination',
	    	clickable: true,
	  	},
	});
	$('.yySelect .select p').click(function(){
		$('.yySelect .select ul').slideToggle();
	})
	$('.yySelect .select ul li').click(function(){
		var html = $(this).find('a').html();
		$('.yySelect .select p').html(html);
		$('.yySelect .select ul').slideUp();	
	})

  	var app=$('#app').val();
	$('.huan').click(function(){
		var id=$(this).attr('index');
		$.ajax({
			type:'POST',
			url:app+'/Field/find',
			data:{id:id},
			dataType:'json',
			success:function(data){
				if(data.code == 'ok'){
					$('.swiper-wrapper').html(data.img);
					$('#ty').text(data.title);
					$('.desc').text(data.text);
					// new Swiper('.Yingy', {
					// 	observer:true,
  			// 			observeParents:true,

					//   	pagination: {
					//     	el: '.swiper-pagination',
					//     	clickable: true,
					//   	},
					// });
					swiper.update();
					swiper.slideTo(0);
				}
			}
		})
	})
</script>