<include file="Public:header" />
<nav class="Hui-breadcrumb">
    <i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 关于我们 <span class="c-gray en">&gt;</span> 关于我们
</nav>
<div class="pd-20">
    <table class="table table-border table-bordered table-hover table-bg">
        <tr>
            <th class="text-r" width="100">首页</th>
            <td><textarea id="index" style="max-width:508px;min-width:508px;height:200px">{$arr.index}</textarea></td>
        </tr>
        <tr>
            <th class="text-r" width="100">首页图片</th>
            <td>
                <span class="golo">
                    <img src="__UPLOADS__/img{$arr.img}" class='img' style='float:left;margin:3px 5px 0 0;width:300px;'>
                </span>
                <a href="javascript:;" class="file">选择图片
                    <input type="file" style="" onchange="file()" name="img" id="img">
                    <input type="hidden" value="{$arr.img}" id="iimg1">
                </a>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">简介左</th>
            <td><textarea id="left" style="max-width:508px;min-width:508px;height:200px">{$arr.left}</textarea></td>
        </tr>
        <tr>
            <th class="text-r" width="100">简介右</th>
            <td><textarea id="right" style="max-width:508px;min-width:508px;height:200px">{$arr.right}</textarea></td>
        </tr>
        <tr>
            <th class="text-r" width="100">团队建设</th>
            <td>
                <a href="javascript:;" class="file">选择图片
                    <input type="file" style="" onchange="file1()" name="img1" id="img1">
                </a>
                <div style="clear:both"></div>
                <span class="golo1">
                    <if condition="$arr.img1 neq ''">
                        <?php $img1=explode(',',$arr['img1']); ?>
                        <foreach name="img1" item="val" k="key">
                            <div class="baotu" id='bao{$key}'>
                                <img src="{$val}">
                                <div class='shanchu' index="{$val}" ids="1" k="{$key}" type="img1">删除</div>
                            </div>
                        </foreach>
                    </if>
                </span>
            </td>
        </tr>
        <tr>
            <th class="text-r" width="100">厂区厂貌</th>
            <td>
                <a href="javascript:;" class="file">选择图片
                    <input type="file" style="" onchange="file2()" name="img2" id="img2">
                </a>
                <div style="clear:both"></div>
                <span class="golo2">
                    <if condition="$arr.img2 neq ''">
                        <?php $img2=explode(',',$arr['img2']); ?>
                        <foreach name="img2" item="val" k="key">
                            <div class="baotu" id='bao{$key}'>
                                <img src="{$val}">
                                <div class='shanchu' index="{$val}" ids="1" k="{$key}" type="img2">删除</div>
                            </div>
                        </foreach>
                    </if>
                </span>
            </td>
        </tr>
        
        <tr>
            <th class="text-r"></th>
            <td><button name="system-base-save" id="queding" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
    </tabel>
</div>
<script src='__PUBLIC__/admin/js/about_index.js'></script>
<script>
    var admin_tou=$('#admin_tou').val();
    var urls=$('#app').val();

    function file(){
        if ($("#img").val().length > 0) {
            ajaxFileUpload();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/img', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.img').remove();
                    var zhi="<img src="+urls+'/Uploads/img'+data+" class='img' style='float:left;margin:3px 5px 0 0;width:300px;'>";
                    $('#iimg1').val(data);
                    $('.golo').html(zhi);

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    function file1(){
        if ($("#img1").val().length > 0) {
            ajaxFileUpload1();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload1() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/img_all2?id=1', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.golo1').html(data);

                    $('.shanchu').unbind('click').bind('click',function(){
                        var ids=$(this).attr('ids');
                        var addr=$(this).attr('index');
                        var app=$('#app').val();
                        var k=$(this).attr('k');
                        var type=$(this).attr('type');
                        $.post(app+'/Admin/About/del_img',{id:ids,img:addr,type:type},function(data){
                            if(data==1){
                                if(type=='img1'){
                                    $('.golo1 #bao'+k).fadeOut(500);
                                }else{
                                    $('.golo2 #bao'+k).fadeOut(500);
                                }
                            }
                        })
                    })

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    function file2(){
        if ($("#img2").val().length > 0) {
            ajaxFileUpload2();
        }
        else {
            alert("请选择图片");
        }
    }
    function ajaxFileUpload2() {
        $.ajaxFileUpload
        (
            {
                url: urls+'/Admin/Bianjiqi/img_all2?id=1', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'img2', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    if(data=='no'){
                        var d = dialog({
                            title: admin_tou,
                            content: '上传失败',
                            cancel: false,
                            okValue: '<div style="padding-left:20px;padding-right:20px">确认</div>',
                            ok: function () {}
                        });
                        d.showModal();
                        return false;
                    }
                    $('.golo2').html(data);

                    $('.shanchu').unbind('click').bind('click',function(){
                        var ids=$(this).attr('ids');
                        var addr=$(this).attr('index');
                        var app=$('#app').val();
                        var k=$(this).attr('k');
                        var type=$(this).attr('type');
                        $.post(app+'/Admin/About/del_img',{id:ids,img:addr,type:type},function(data){
                            if(data==1){
                                if(type=='img1'){
                                    $('.golo1 #bao'+k).fadeOut(500);
                                }else{
                                    $('.golo2 #bao'+k).fadeOut(500);
                                }
                            }
                        })
                    })

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    var text= document.getElementById("left").innerHTML;
    for(var i=0;i<=10;i++){
        text=text.replace("&lt;br /&gt;"," ");
    }
    $('#left').val(text);

    var text= document.getElementById("right").innerHTML;
    for(var i=0;i<=10;i++){
        text=text.replace("&lt;br /&gt;"," ");
    }
    $('#right').val(text);
</script>
<script>
    $('#menu-list3').attr('class','selected');
    $('#menu-list3 li a').eq(0).attr('class','on')
</script>
<include file="Public:footer" />