<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/about-banner.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>走进瑞德</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<a href="{:U('About/index')}" >公司简介</a>
			<a href="{:U('About/culture')}" class="on">企业文化</a>
			<a href="{:U('About/organization')}">组织机构</a>
			<a href="{:U('About/certifications')}">资质证书</a>
			<a href="{:U('News/index')}">媒体中心</a>
			<a href="{:U('About/speech')}">总经理致辞</a>
		</div>
		<div class="aboutBig">
			<img src="__PUBLIC__/index/img/about-img1.jpg" alt="" />
			<table>
				<tr>
					<td class="bold">公司理念</td>
					<td>创一流企业 造一流产品</td>
					<td class="bold">人才观</td>
					<td>为企业创造价值的就是人才</td>
				</tr>
				<tr>
					<td class="bold">经营理念</td>
					<td>以诚信为基石 以客户为轴心 以品质赢市场</td>
					<td class="bold">质量观</td>
					<td>下一道工序就是用户 用户满意是我们的标准</td>
				</tr>
				<tr>
					<td class="bold">质量理念</td>
					<td>关注细节 精益求精 以精立业 以质取胜</td>
					<td class="bold">服务观</td>
					<td>全心全意为用户服务 专注于每一个细节</td>
				</tr>
				<tr>
					<td class="bold">营销理念</td>
					<td>诚信为本 品牌取胜 文化引导 不断创新</td>
					<td class="bold">企业使命</td>
					<td>与客户共享双赢 与员工共谋发展 与社会共创和谐</td>
				</tr>
				<tr>
					<td class="bold">服务理念</td>
					<td>建立全方位服务意识 持续超越客户期望</td>
					<td class="bold">企业愿景</td>
					<td>锻造卓越品质 锤炼辉煌业绩</td>
				</tr>
				<tr>
					<td class="bold">核心价植观</td>
					<td>勇入直前 用心做事</td>
					<td class="bold">企业哲学</td>
					<td>德智相融 和谐共赢</td>
				</tr>
				<tr>
					<td class="bold">管理观</td>
					<td>以人为本 科学规范</td>
					<td class="bold">企业精神</td>
					<td>学习 超越 领先</td>
				</tr>
				<tr>
					<td class="bold">市场观</td>
					<td>以诚致信 做顾客永远的朋友</td>
					<td class="bold"></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>

</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>

<include file="Public:footer" />