<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/about-banner.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>走进瑞德</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<a href="{:U('About/index')}" class="on">公司简介</a>
			<a href="{:U('About/culture')}">企业文化</a>
			<a href="{:U('About/organization')}">组织机构</a>
			<a href="{:U('About/certifications')}">资质证书</a>
			<a href="{:U('News/index')}">媒体中心</a>
			<a href="{:U('About/speech')}">总经理致辞</a>
		</div>
		<div class="aboutmain">
			<p>山西瑞德机械制造有限公司是一家专业生产换热器管板、法兰 、锻件的股份制企业，2014年成立，公司占地面积15000平方米，注册资金960万元，总投资2500万元，现有员工100余人，其中高、中级技术人员30人，具备下料、锻造、热处理、机加工、理化检测、产品表面处理、标记、包装、发运成套能力。主要生产设备有10T锻造锤2部、D53碾环机1台、RX3热处理炉2台、C5125/C5250数控车6台、CM4200/2高速数控龙门钻2台、PM3000龙门加工中心2台、CNC加工中心、线切割、数控等离子切割、深孔镗等共计80余台生产设备。可生产国际、国家和行业标准的法兰管板锻件产品，也可生产由顾客提供图纸的各种异型法兰管板锻件产品。</p>
			<p>公司始终坚持“诚信高效，质量至上”的企业精神，率先在同行业中建立起质量保证体系，通过并取得德国TUV NORD公司的IS0-9001:2015质量管理体系证书、PED（2014/68/EU）证书、 AD 2000-Merkblatt W0证书；通过并取得中华人民共和国特种设备制造许可证（压力管道），另公司具有自主进出口贸易资格。</p>
			<p>公司始终秉承着 “诚信、高效、优质、合作、共赢、发展”的经营理念，开拓创新，不断进取，精心服务客户，使公司走上一条良性的发展之路。</p>
		</div>
		<div class="aboutaddress">
			<span>公司地址：山西省定襄县崔家庄工业区 </span>
			<span>传真：0350-3322998</span>
			<span>邮件：hsx@sx-ruide.com</span>
		</div>
	</div>

</div>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>

<include file="Public:footer" />