<include file="Public:header" />

<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="__PUBLIC__/index/img/about-banner.jpg" alt="" />
		</div>
	</div>
</div>
<div class="center">
	<div class="catposBox">
		<a href="#">首页</a>
		<em>></em>
		<span>走进瑞德</span>
	</div>
	<div class="aboutCenter">
		<div class="innerNav">
			<a href="{:U('About/index')}">公司简介</a>
			<a href="{:U('About/culture')}">企业文化</a>
			<a href="{:U('About/organization')}" class="on">组织机构</a>
			<a href="{:U('About/certifications')}">资质证书</a>
			<a href="{:U('News/index')}">媒体中心</a>
			<a href="{:U('About/speech')}">总经理致辞</a>
			<div class="aboutBig">
				<div class="title">山西瑞德机械制造有限公司</div>
				<img src="__PUBLIC__/index/img/about-img2.jpg" alt="" />
			</div>
		</div>
	</div>
</div>
	<script>
		AOS.init({
			easing: 'ease-out-back',
			duration: 1000
		});
		new Swiper('.banner', {
			resistanceRatio:0,
			autoplay: false,
			on:{
				init:function(swiper){
					slide=this.slides.eq(0);
					slide.addClass('ani-slide');
				},
				transitionStart: function(){
					for(i=0;i<this.slides.length;i++){
						slide = this.slides.eq(i);
						slide.removeClass('ani-slide');
					}
				},
				transitionEnd: function(){
					slide=this.slides.eq(this.activeIndex);
					slide.addClass('ani-slide');

				},
			}
		});
	</script>

	<include file="Public:footer" />